page-rejoindre-maison {
	.container{
    display: block;
    max-width: 400px;
    margin: 0 auto;
    position:relative !important;
    padding-top : 0px ;
    padding-bottom : 0px ;
  }

  .mascotte {
    width: 60%;
    height: 60%;
    margin-bottom: 20px;
	}

	.grid{
		padding : 0px 25px;
	}

	.content-md .valider{
		margin-top: 40px;
	}

    .item-ios.item-label-stacked .text-input, .item-ios.item-label-floating .text-input,
    .item-label-stacked .text-input-md, .item-label-floating .text-input-md {
    margin-bottom: -6px;
    padding-bottom: 14px;
    }

    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before,
    .tabs-md[tabsPlacement="bottom"] > .tabbar::before, .header-ios .toolbar-background-ios,
    .footer-ios .toolbar-background-ios, .toolbar-background-md{
        border-color: #7686FF;
        background: #7686FF;
    }

    .item-label-floating .text-input {
        margin-top: 1px;
    }

    .list-md .item-block .item-inner {
    border-bottom: 1px solid white;
    }

    .toolbar-title{
        color: white;
    }
    
    ion-header .icon{
        color: white;
    }

}
