tabs{

	.sous-menu[col-lg-6]{
		display: none;
		margin: auto;
		float: none;
	}
	.profilSection.sous-menu{
		display: none;
		p{
			text-align: center;
			text-transform: uppercase;
			font-family: "Futura";
			font-weight: 300;
			font-size: 16px;
			margin-top: 0px;
		}
        ion-icon[name="icon-left-arrow-2"].retour{
            background: white;
            padding: 10px;
            cursor: pointer;
            border-radius: 0px;
            color: black;
            float: left;
            &::before{
              	font-size: 16px;
            }            
          }		
	}
	

	.fond-noir{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      top: 0;
      left: 0;
      .lightbox{
        margin: auto;
        margin-top: 40px;
        width: 100%;
        height: 100%;
        background: white;
        padding: 20px;
        box-sizing: border-box;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
      .lightbox-content{
        width: 100%;
        margin: auto;
        height: 100%;
        
		.profilSection{
          	height: 40px;
          	line-height: 40px;
          	.partage{
	          cursor: pointer;
	          display: block;
	          float: left;
	          color: white;
	          padding: 10px;
	          border-radius: 50px;
	          background: map-get($colors, secondary);
	          &::before{
	              font-size: 16px;
            	}
          	}
	        ion-icon[name='icon-edit']{
	            background: map-get($colors, primary);
	            padding: 10px;
	            cursor: pointer;
	            border-radius: 50px;
	            color: white;
	            float: right;
	            &::before{
	              	font-size: 16px;
	            }            
	          }
	        }
    	}
	}
	button.item-block.item{
		margin: 20px 0px;
	 	.item-inner{
			font-family: 'Futura';
			padding: 0px;
			border-bottom: 1px solid transparent;
			.label{
				margin: 0px;
				white-space: initial;
			}
			h1{
				font-size: 18px;
				font-weight: 700;
			}
			p{
				font-size: 14px;
				font-weight: 500;
				width: 85%;
			}
			.homie-icone{
				width: 29px;
    			float: left;
    			margin: 0px 18px 20px 0px;
			}
			ion-icon[icon-start]{
				margin-top: 5px;
	    		margin-bottom: 20px;
				float: left;
				margin-right: 20px;
				color: map-get($colors, secondary);
			}
		}
	}


	.photo{

		text-align: center;
		border: 2px solid map-get($colors, secondary);
		width: 100px;
		height: 100px;
		margin: auto;
		border-radius: 50%;
		font-weight: 700;
		text-transform: uppercase;
		
		p{
			position: relative;
    		top: 28%;
		}	
	}

	.badges, .points{
		display: inline-block;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
		border-radius: 8px;
		width: 45%;
		height: 50%;
		text-align: center;
		font-family: 'Futura';
		font-weight: 600;
		text-transform: uppercase;
		margin: 20px 5px;
		padding: 20px;
		cursor: pointer;
		ion-icon[name=icon-chevron] {
		    line-height: 18px;
		    pointer-events: none;
		    padding: 0px;
		    position: absolute;
		    right: 10px;
		    top: 35px;
		    color: #7686FF;
		    font-weight: bold;
		    &::before{
		    	font-size: 18px;
		    }
		}
		h2{
			margin: 0px;
			font-size: 25px;
			font-weight: 800;
		}
		p{
			margin: 0px;
			font-size: 13px;
		}
	}

	.boutton-menuP{
		background: map-get($colors, secondary);
		ion-icon{
			color: white;
			&::before{
				font-size: 18px;
			}
		}
	}

	@media (min-width: 885px){
		[col-lg-6]{
			-webkit-box-flex: 0;
			-webkit-flex: 0 0 50%;
			-ms-flex: 0 0 50%;
			float: left;
			padding: 40px;
			flex: 0 0 50%;
    		width: 50%;
    		max-width: 50%;
		}

		.badges, .points{
			margin: 50px 4px;
		}

		.photo{
			width: 200px;
			height: 200px;
			margin-top: 30px;	
			p{
				top: 30%;
	    		font-size: 25px;
			}	
		}
	}

	@media (min-width: 1000px){
		[col-lg-6]{
			padding: 60px;
		}
	}

	@media (min-width: 1100px){
		.badges, .points{
			margin: 60px 4px;
		}
	}

	@media (min-width: 1210px){
		.badges, .points{
			margin: 80px 4px;
		}
	}

	@media(max-width: 885px){
		.fond-noir .lightbox .lightbox-content{
        	max-width: 700px;
        }              
	}

	@media screen and (max-width: 420px) {
		button.item-block.item .item-inner ion-icon[icon-start], button.item-block.item .item-inner .homie-icone{
    		margin-bottom: 30px;
		}

		.fond-noir .lightbox .lightbox-content .list-menu{
			margin-bottom: 50px;
		}

		.badges, .points{
        	margin: 20px 4px;
        }       
	}  	

	@media screen and (max-width: 315px) {

		.badges, .points{
        	margin: 20px 4px;
        } 
		button.item-block.item .item-inner ion-icon[icon-start], button.item-block.item .item-inner .homie-icone{
    		margin-bottom: 50px;
		}

	}
}