<ion-header>
  <ion-navbar>
    <ion-title>Mon fournisseur d'énergie</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="fond-vague"><img class="vague" src="../assets/imgs/vague_fine.png"/></div>
  <form [formGroup]="form">
    <ion-list class="fournisseur">
      <ion-item>
        <ion-label><ion-icon name="icon-plug"></ion-icon><h4>Mon fournisseur <p>Sélectionnez dans la liste</p></h4></ion-label>
          <ion-select formControlName="fournisseur" [(ngModel)]="regMaison.fournisseur" (ionChange)="onChangeFournisseur()">
            <ion-option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur">{{fournisseur}}</ion-option>
          </ion-select>
      </ion-item>
    </ion-list>

    <ion-list class="contrat transparency">
      <ion-item>
        <ion-label><ion-icon name="icon-copy"></ion-icon><h4>Mon contrat <p>Sélectionnez dans la liste</p></h4></ion-label>
          <ion-select formControlName="contrat" [(ngModel)]="regMaison.contrat" (ionChange)="onChangeContrat()">
            <ion-option *ngFor="let contrat of contrats" [value]="contrat">{{contrat}}</ion-option>
          </ion-select>
      </ion-item>
    </ion-list>

    <ion-list class="conseils transparency">
      <ion-item>
        <ion-label><ion-icon name="icon-idea"></ion-icon><h4>Mes conseils <p>Les conseils relatifs à votre abonnement seront disponnibles une fois que nous aurions pu analyser vos pratiques de consommation (environ au bout d’un mois d’utilisation de l’application).</p></h4></ion-label>
      </ion-item>
    </ion-list>
  </form>
  <ion-row>
    <button ion-button block class="valider" type="submit" (click)="retourMenu()">Valider</button>
  </ion-row>
  <button class="boutton-menuP" (click)="pushAccueil()"><ion-icon name="icon-cancel"></ion-icon></button>
</ion-content>
