page-me-comparer-maison {

  ion-content{
    // background-image: url("../assets/imgs/vue3D/3d.png");

    .boutton-menuP{
      background: map-get($colors, secondary);
      position: fixed;
      bottom: unset;
      right: unset;
      left: 35px;
      top: 25px;
      ion-icon{
        color: white;
        &::before{
          font-size: 18px;
        }
      }
    }  

    .profil{
      position: fixed;
      width: 50px;
      height: 50px;
      top: 8px;
      right: 8px;
      border: 2px solid map-get($colors, secondary);
      padding: 5px;
      border-radius: 50%;
      display: flex;
      z-index: 0;
      span{
        margin: auto;
      }
    }
    .maison{
      height: 100%;
      display: flex;
      justify-content: center;
      img{
        margin: auto;
      }
    }
    .profil-bon-eleve{
      background: white;
      top: 8px;
      right: 8px;
      position: fixed;
      z-index: 1;
      box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.12);
      border-radius: 8px;
      padding: 15px;
      width: auto;
      margin: auto auto 20px auto;
      display: inline-flex;
        .avatar-circle{
          border: 2px solid map-get($colors, secondary);
          padding: 10px;
          border-radius: 50%;
          display: inline-flex;
          font-size: 12px;
          width: 70px;
          height: 70px;
          span{
            margin: auto;
          }
        }
        h4{
          font-size: 14px;
          font-weight: bold;
          margin: auto 20px;
          span{
            display: block;
            font-size: 10px;
            font-weight: normal;
          }
        }
        .conso{
          margin: auto 8px;
          text-align: center;
          .valeurs{
            font-weight: 800;
            font-size: 30px;
            span{
              font-size: 16px;
              margin-left: 5px;
            }
          }
        }
        &.hidden-profil{
          display: none;
        }
    }
  }

  @media only screen and (max-width: 315px){
    .conso{
      display: none;
    }
  }
}
