page-stats-vue-3d {
	.ss-menu{
	max-width: 300px;
	margin: auto;
	width: 100%;
    height: 100%;
	}

	.maison{
    max-width: 400px;
    margin: 50px auto;
    width: 100%;
    height: 100%;
    display: inherit;
    text-align: center;
}

	.edit{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0%;
    left: 280px;
    top: 70px;
    margin: auto;
    cursor: pointer;
    z-index: 100;
}
	.astuces{
	max-width: 400px;
	margin: 0px auto 60px auto;
	width: 100%;
    height: 100%;		
	}



	@media only screen and (min-width: 500px) {
		.edit{
    		left: 380px;
		}

	}
}
