
<ion-header>

  <ion-navbar>
    <ion-title>mon Budget</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="fond-vague"><img class="vague" src="../assets/imgs/vague_fine.png"/></div>
  <div class="centrage-vertical">
    <div class="centrage-vertical-inner">
      <div class="blockIcon">
        <div class="bigIcon"><img class="" src="../assets/imgs/money-icon.svg"/></div>
        <h2>budget maximal</h2>
      </div>
      <ion-list class="budget">
        <p *ngIf="budget < 20">Sois réaliste !</p>
        <p *ngIf="budget >= 20 && budget <= 50">Tu peux le faire !</p>
        <p *ngIf="budget > 50">Tu peux être plus ambitieux !</p>
        <ion-item>
          <ion-label range-right class="label-range">{{budget}}<span>€/mois</span></ion-label>
          <ion-range [(ngModel)]="budget" color="secondary" max="200"></ion-range>
        </ion-item>
      </ion-list>
      <ion-row>
        <button ion-button block class="valider" type="submit" (click)="retourMenu()">Valider</button>
      </ion-row>
    </div>
  </div>
</ion-content>
