page-pre-modelisation {
  .grid{
    padding: 0px;
  }
  ion-content.content-md{
    ion-grid.grid{
      padding: 0;
      ion-slides{
        ion-slide{
          padding: 0px;
          img{
            width: 100%;
          }
        }
      }
    }
  }
  .header-icon{
    .icon-slider{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: map-get($colors, secondary);
    }
  }

  #un .firstList.list, #deux .firstList.list, #trois .firstList, #quatre .firstList{
    margin-top: 80px;
  }

  .nmPiece.list-ios .item-block .item-inner{
    border-bottom: 1px solid black;
  }

  .background-app{
    background-image: url("../assets/imgs/fond-app.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    min-height: 300px;
    position: absolute;
    margin-top: -150px;
    // img{
    //   width: 100%;
    //   max-height: 300px;
    // }
  }

    .transparency{
      opacity: 0.4;
      pointer-events: none;
    }

    #un{

      h4{
        display: inline-block;
        color: black;
        margin-left: 15px!important;
        white-space: normal!important;
        font-weight: 600;
      }
      p{
        font-weight: 400;
      }

      ion-list.list{
       background: #FFFFFF;
       box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
       border-radius: 8px;
       padding: 2px 15px;
       max-width: 340px;
       margin: 20px auto;
     }
      .select-md .select-icon .select-icon-inner{
       border-top-color: map-get($colors, secondary);
       border-width: 10px;
     }
     .select-md .select-icon{
       width: 18px;
     }

    }

    .fond-vague{
      margin-left: 0px;
      margin-right: 0px;
      height: 200px;
      z-index: -2;
      .vague{
        top: 199px;
        height: 35px;
        position: relative;
        margin: 0px;
        padding: 0px;
        width: 100%;
      }
    }

    .slide-zoom{
      // width: auto;
      // margin: auto 20px;
    }
    .scroll-content{
      padding: 0!important;
    }

    ion-grid.grid{
      
      // padding: 0;
      ion-label{
        overflow: visible;
      }
      ion-slides{
        height: 100%;
        .swiper-container{
          // padding: 16px;
        }
        .swiper-wrapper{
          height: 84%;
        }
        ion-slide{
          padding: 0px;
          width: 100%;
        }
      }
    }

    .icon-slider{
      ion-icon{
        color: map-get($colors, secondary);
        &.circle{
          border-radius: 50%;
          // border: 3px solid white;
          background: white;
          padding: 25px;
          margin: 20px auto;
          &::before{
            font-size: 40px;
          }
        }
      }
    }
    .icon-slider2{
      border-radius: 50%;
      background: white;
      //padding: 25px;
      width: 90px;
      height: 90px;
      margin: 38px auto;
      img.circle{
        width: 60px !important;
            margin-top: 22px;      
      }
    }
    // .swiper-pagination::after, .swiper-pagination::before{
    //     content: '\e9a8';
    //     font-family: 'homright' !important;
    //     speak: none;
    //     font-style: normal;
    //     font-weight: normal;
    //     font-variant: normal;
    //     text-transform: none;
    //     line-height: 1;
    //     color: map-get($colors, primary);
    //     margin-left: 8px;
    // }
    // .swiper-pagination::before{
    //   content: '\e9a7';
    //   margin: 0 8px 0 0;
    // }
    .swiper-pagination{
      position: absolute;
      z-index: 100;
      display: none;
    }
    .pagination ion-icon{
      color: map-get($colors, primary);
      margin: 8px;
      font-size: 22px;
      cursor: pointer;
      position: relative;
      z-index: 10;
    }
    .pagination{
      font-size: 22px;
      text-align: center;
      display: inline-block;
      position: fixed;
      left: calc(50% - 60px);
      bottom: 15px;
      z-index: 50;
      p{
        width: auto;
        margin: auto;
        display: inline-block;
      }
    }

    #deux h4{
      color: map-get($colors, primary);
      font-weight: bold;
    }
    .superficie h4, .superficie ion-item{
      display: inline-block;
      width: auto;
    }
    .superficie{
      max-width: 400px;
      margin: auto;
      padding: 10px 20px;

      ion-row:first-child{
        margin-bottom: 40px;
        display: flex;
        h4{
          margin-bottom: 0;
          margin-top: auto;
        }
        ion-item{
          margin-left: 30px;
          flex: 1;
          border-bottom: 1px solid black  !important;
        }
        .item-md.item-block .item-inner{
          padding-right:0px;
        }
        ion-input{
          text-align: right;
        }
        .item-end{
          margin: 9px 0 9px 6px!important;
        }
      }
    }
    .superficie ion-row:last-child ion-item, .superficie .item-inner{
      border-bottom: transparent;
    }
    .superficie input::placeholder{
      text-align:right;
    }
    .superficie .text-input.text-input-md{
      text-align: right;
    }
    .superficie .text-input-ios{
      margin: 0;
      text-align: right;
    }
    .superficie .nbHab  .text-input-ios{
      margin: 0;
      border-bottom: 1px solid grey;
    }
    .swiper-slide{
      visibility: hidden;
      transition: 1.5s all ease;
      &.swiper-slide-active{
        visibility: visible;

      }
    }
    .label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input{
      width:100%;
    }

    input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button, input[type=number] {
      -webkit-appearance: none;
      -moz-appearance: textfield;
      border: 0px;
      background: none;
      opacity: 1;
      margin: 0;
    }

    #trois{
      ion-row{
        text-align: center;
        p{
          max-width: 300px;
          font-weight: bold;
          margin: auto;
        }
      }

      .radio-ios .radio-checked .radio-inner{
        border-color: transparent;
        transform:rotate(0deg);
        color: map-get($colors, secondary);
        background:  map-get($colors, secondary);

      }

      .radio-md .radio-icon .radio-inner{
        background:  map-get($colors, secondary);
      }

      ion-list{
        width:100%;
        margin-bottom: 40px;
        margin-top: 10px;
        ion-item{
          display: inline-block;
          width: auto;
          padding: 0;
          .radio-md, .radio-ios{
            margin: auto;
            .radio-icon{
              width: 120px;
              height: 45px;
              border-radius: 50px;
              border: 1px solid map-get($colors, secondary);
              &::after{
                content: "oui";
                width: 100%;
                text-align: center;
                position: absolute;
                margin-top: 10px;
                height: 40px;
                color: map-get($colors, secondary);
              }
              .radio-inner{
                width: 100%;
                height: 100%;
                border-radius: 16px;
                margin: auto;
                top: 0;
                left: 0;
                color: map-get($colors, secondary);
                border-radius: 50px;
              }
              &.radio-checked{
                &::after{
                  color: white;
                }
              }
            }
          }
          &:first-child{
            .radio-md .radio-icon::after, .radio-ios .radio-icon::after{
              content: "oui";
              top: 0px;
            }
          }
          &:last-child{
            .radio-md .radio-icon::after, .radio-ios .radio-icon::after{
              content: "non";
              top: 0px;
            }
          }
        }
      }
      .list-md .item-block .item-inner{
        border: 0px;
      }
    }



    #quatre{
      ion-row{
        margin: auto;
      }
      ion-row.end-slider{
        display: block;

        button.add-room{
          background: white;
          color: map-get($colors, primary);
          border: 1px solid map-get($colors, primary);
          border-radius: 50px;
          box-shadow: none;
          max-width: 215px;
          width:80%;
          font-size: 12px;
          font-weight: 700;
          margin: 30px auto 15px auto;
          display: block;
        }
        button.valider{
          background: map-get($colors, primary);
          color: white;
          border-radius: 50px;
          box-shadow: none;
          max-width: 215px;
          width:80%;
          font-size: 12px;
          font-weight: 700;
          margin: auto;
          margin-bottom: 50px;
        }
      }

        ion-list{
          width:100%;
          margin-bottom: 0;
          //margin-top: -10px;
          //margin-left: 20px;

          ion-item.item-block{
            display: inline-block;
            margin-top: 0px;
            width: auto;
            padding: 0;
            .item-inner{
              border-bottom: 1px solid transparent;
              .label{
                margin:0px;
              }
            }
            button.button-room{
              background: white;
              color: map-get($colors, secondary);
              width: 120px;
              height: 120px;
              border: 1px solid #F2F2F2;
              box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
              border-radius: 8px;
              margin: 0 auto 24px auto;
              padding: 0;
              position: relative;
              pointer-events: auto;
              .button-inner{
                display: block;
                p{
                  margin: auto;
                  margin-top: 20px;
                  font-weight: 700;
                  text-transform: initial;
                  color: black;
                }
              }
              ion-icon{
                &::before{
                  font-size: 60px;
                  top: 15px;
                  position: relative;
                  color: map-get($colors, secondary);
                }
              }
            }
          }
        }
    
    }

    .fond-cache, .fond-cache2{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      top: 0;
      left: 0;
      padding: 20px;
      display: flex;
      display: none;
      z-index: 100;

      .lightbox{
        margin: auto;
      }
      .lightbox-content{
        background: white;
        width: 100%;
        padding: 15px;
        min-width: 250px;
        max-width: 340px;
        border: 1px solid #DFE4EF;
        box-sizing: border-box;
        border-radius: 4px;
        h2, div{
          text-align: center;
        }
        ion-list{
          p{
            color: map-get($colors, primary);
            text-align: left!important;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 700;
          }
          &.list-md .item-block .item-inner {
            border-bottom: 1px solid black;
          }
        }
        .input-wrapper{
          display: block;
          ion-label{
            color: map-get($colors, primary);
            text-align: left!important;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 5px;
          }
          ion-input{
            color: black;
            input.text-input-md{
              width: 100%;
            }
            input::placeholder{
              color: black;
              opacity: 1;
            }
          }
        }
        ion-list.nmPiece{
          .item-md .item-inner, .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
            border-bottom: 1px solid transparent;
          }
          .label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input{
            margin-left: 0px;
          }
        }
        ion-list.icon-scene{
          text-align: center;
          margin-top: 25px;
          ion-item{
            display: inline-block;
            width: 65px;
            height: 80px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
            border-radius: 6px;

          .radio-ios .radio-checked .radio-inner{
            border-color: transparent;
            transform:rotate(0deg);
            color: map-get($colors, secondary);
            background:  map-get($colors, secondary);

          }

          .radio-md .radio-icon .radio-inner{
            background:  map-get($colors, secondary);
          }

          .radio-md, .radio-ios{
            margin: auto;
            .radio-icon{
              width: 65px;
              height: 80px;
              border-radius: 6px;
              font-size: 30px;
              padding-top: 5px;
              text-align: left;
              //border: 1px solid map-get($colors, secondary);
              &::after{
                font-family: 'homright' !important;
                top: 0px;
                width: 65px;
                text-align: center;
                position: absolute;
                margin-top: 10px;
                height: 40px;
                color: map-get($colors, secondary);
              }
              &::before{
                position: absolute;
                width: 65px;
                text-align: center;
                font-size: 12px;
                bottom: 5px;
                margin: 0px;
                padding: 0px;
                line-height: 12px;
              }
              .radio-inner{
                width: 65px;
                height: 80px;
                margin: auto;
                top: 0;
                left: 0;
                color: map-get($colors, secondary);
                border-radius: 6px;
              }
              &.radio-checked{
                &::after{
                  color: white;
                }
                &::before{
                  z-index: 100;
                  color: white;
                }
              }
            }
          }
          .cuisine .radio-icon::after{
          content: '\e9db';
          }
          .cuisine .radio-icon::before{
          content: 'cuisine';
          }

          .lit .radio-icon::after{
            content: '\e9df';
          }
          .lit .radio-icon::before{
          content: 'chambre';
          }

          .bureau .radio-icon::after{
            content: '\e924';
          }
          .bureau .radio-icon::before{
            content: 'bureau';
          }

          .douche .radio-icon::after{
            content: '\e9dc';
          }
          .douche .radio-icon::before{
            content: 'salle de bain';
          }          

          .canape .radio-icon::after{
            content: '\e9da';
          }
          .canape .radio-icon::before{
            content: 'salon';
          }

          .porte .radio-icon::after{
            content: '\e9e1';
          }
          .porte .radio-icon::before{
            content: 'entrée';
          }

          .table .radio-icon::after{
            content: '\e9e2';
          }
          .table .radio-icon::before{
            content: 'salle à manger';
          }

          .garage .radio-icon::after{
            content: '\e9dd';
          }
          .garage .radio-icon::before{
            content: 'garage';
          }          

          .list-md .item-block .item-inner{
            border: 0px;
          }
          }
        }
        ion-list.temperature{
          p{
            margin-bottom: 0;
            margin-top: 25px;
          }
          margin-bottom: 0;
          .range-md, .range-ios{
            padding: 0px;
            .range-bar{
              top: 5px;
            }
            .range-has-pin{
              padding-top: 0;
            }
            .range-knob-handle{
              top: 5px;
            }
          }
          .range-slider{
            height: 25px;

            .range-bar{
              height: 3px;
            }
          }
          ion-label.label-range{
            float: right;
            color: black;
            font-size: 18px;
            margin-top: 4px;
            margin-bottom: 0;
          }
        }
        ion-list.temperatureInconnue{
          margin-bottom: 4px;
          ion-item{
            margin-top: 0px;
          }
          ion-label{
            color: black;
            text-transform: initial;
            font-weight: 500;
            font-size: 15px;
          }
          ion-checkbox{
            margin-right: 8px;
          }
          .checkbox-md{
            .checkbox-checked{
              background-color: map-get($colors, secondary)!important;
            }
            .checkbox-icon{
              border: 2px solid map-get($colors, secondary)!important;
              padding: 8px;
            }
          }
          &.list-md .item-block .item-inner {
            border-bottom: none;
          }
        }

        .checkbox-md .checkbox-checked .checkbox-inner{
          border: none;
        }


        button{
          width: 88px;
          height: 55px;
          display: inline-block;
          margin: 20px 8px;
          box-shadow: none;
          border-radius: 8px;
          .icon::before{
            font-size: 18px!important;
          }
          &.not-selected{
            border: 1.5px solid map-get($colors, primary);
            background: none;
            color: map-get($colors, primary);
          }
        }
        .return{
          height: 40px;
          line-height: 40px;
          .arrow-return{
          cursor: pointer;
          display: block;
          float: left;
          margin-top: 10px;
          color: map-get($colors, secondary);
          &::before{
              font-size: 20px;
            }
          }
          p{
            display: inline;
            padding-right: 8px;
            text-transform: uppercase;
            margin: 0;
            font-weight: 700;
            font-size: 16px;
          }
          ion-icon[name='icon-trash-1']{
            background: map-get($colors, primary);
            padding: 10px;
            border-radius: 50px;
            color: white;
            float: right;
            &::before{
              font-size: 18px;
            }            
          }
        }
      }
    }

    .list-ios .item-block .item-inner, .list-ios > .item-block:last-child .item-inner, .list-ios > .item-wrapper:last-child .item-block .item-inner,
    .list-md .item-input:last-child, .list-md .item-input, .list-md .item-input:first-child, .list-ios > .item-wrapper:last-child .item-block,
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
      border-bottom: 1px solid white;
    }

  .fond-cache2 .lightbox-content{
      ion-list.nmPiece{
        .item-md .item-inner, .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
            border-bottom: 1px solid black;
        }
      }
  }

  @media screen and (min-width: 500px) {
    .header-icon{
        img{
          margin-top: -50%;
        }
    }
  }

  @media screen and (min-height: 660px) {
    #un .firstList.list, #deux .firstList.list, #trois .firstList, #quatre .firstList{
      margin-top: 100px;
    }
  }

}
