page-points-cles {
  header{
    text-align: center;
  }
  h1{
    font-weight: bold;
    padding-left: 20px;
    max-width: 720px;
    margin: 20px auto 10px auto;
  }
  .slide-zoom{
    max-width: 700px;
    p{
      color: map-get($colors, medium);
      font-size: 16px;
      padding: 0px 15px 10px 15px;
    }
    h2{
      font-weight: bold;
    }
  }
  .bouton-principal{
    margin-top: 30px;
    max-width: 700px;
  }
  .swiper-pagination-bullet{
    background: map-get($colors, primary);
  }
  .swiper-container-horizontal {
    .swiper-pagination-bullets{
      bottom: 0;
    }
  }
}
