page-events {

	.container{
        display: block;
        max-width: 450px;
        margin: 0 auto;
        position:relative !important;
        padding-top : 0px ;
        padding-bottom : 0px ;
    }

    .stats{
        margin: 60px auto 25px auto;
        width: 100%;
        height: 100%;       
    }

    ion-header {
        background: map-get($colors, secondary);
        border: 1px solid map-get($colors, secondary);
        &::after, &.header-md::after{
            background: map-get($colors, secondary);
            border-color: map-get($colors, secondary);
        }
        h1{
            text-align: center;
            text-transform: uppercase;
            font-family: "Futura";
            font-weight: 300;
            font-size: 16px;
            margin: 20px 0px;
            color:white;
        }

        .toolbar{
            max-width: 344px;
            width: 100%;
            margin: auto;
            background: transparent;
            z-index: 10;
            height: 70px;
            .toolbar-background, .toolbar-background-ios{
                background: map-get($colors, secondary);
                border-color: map-get($colors, secondary);
            }
            .segment{
                //height: 36px;
                border-radius: 50px;
                //line-height: 36px;
                .segment-button{
                    color: white;
                    border:none;
                    text-transform: initial;
                    height: 62px;
                    line-height: 100%;
                    margin: 0px;
                    font-size: 14px;
                    font-weight: 200;
                    background: none;
                    border-radius: 0px;
                    &[value="eventApp"]{
                        max-width: 65px;
                        width: 100%;
                        margin-right: 60px;
                    }
                    &[value="eventVille"]{
                        max-width: 90px;
                        width: 100%;
                        margin-left: 60px;
                    }
                    &.segment-activated{
                        border-bottom: 3px solid white;   
                    }
                    ion-icon{
                        font-size: 20px;
                        line-height: 24px;
                    }
                    ion-icon::before{
                        font-size: 20px;
                    }
                    p{
                        margin-top: 8px;
                    }
                }
            }
        }
    }   

    ion-content .fond-vague{
        height: 5px;
        .vague {
            width: 100vw;
            position: absolute;
            top: 4px;
            height: 45px;
        }
    }

    .grid{
        font-weight: 200;
        .card{
            margin-bottom: 30px;
        }
        .card-section-2{
           display: none;
        }
        .sous-section-2 .map{
            height: 150px;
            margin: -20px -20px 10px -20px;
            iframe{
                height: 150px;
                width: 100%;
            }
        }
        .cardPrincipal{
            z-index: 1;
            margin-bottom: 15px;
            margin-top: 60px;
            transition: margin 0.4s 0.1s;
            cursor: pointer;
            .contour{
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
            }
            .card.theme .face-colore, .card.theme .section-titre{
                background: map-get($colors, secondary);
                text-align: center;
                .section-titre-nom, .points{
                    color:white;
                    font-weight: 700;
                }
                .points{
                    color:white;
                    text-align: right;
                    font-weight: 700;
                    float: right;
                    ion-icon[name=icon-medal]{
                        line-height: 18px;
                        float: right;
                        &:before{
                            font-size: 18px;
                        }
                    }
                }
            }
            .card-section {
                z-index: 1;
                width: 100%;
                border-radius: 8px;

                .section-interieur {
                    overflow: hidden;
                    border-radius: inherit;
                    .bouton-close {
                      z-index: 2;
                      height: 16px;
                    }
                    .bouton-close:before, .bouton-close:after {
                      content: "";
                      position: absolute;
                      left: 4px;
                      top: 7px;
                      width: 23px;
                      height: 2px;
                      background: #fff;
                    }
                    .bouton-close:before {
                      -webkit-transform: rotate(45deg);
                              transform: rotate(45deg);
                    }
                    .bouton-close:after {
                      -webkit-transform: rotate(-45deg);
                              transform: rotate(-45deg);
                    }
                }
                .card-cote {
                    z-index: 1;
                    width: 100%;
                    border-radius: inherit;
                    background: #fff;
                    border-top-left-radius: 0px;
                    border-top-right-radius: 0px;
                    padding-bottom: 20px;
                    -webkit-backface-visibility: hidden;
                            backface-visibility: hidden;
                    -webkit-transform-style: preserve-3d;
                            transform-style: preserve-3d;
                    .label{
                        text-transform: uppercase;
                        color: map-get($colors, primary);
                        font-size: 11px;
                        margin-bottom: 0px;
                        font-weight: 600;
                    }
                    .contenu{
                        margin-top: 2px;
                        font-size: 15px;
                        font-family: 'Assistant';
                    }
                }
                .face-colore {
                    z-index: -1;
                    position: fixed;
                    left: 0;
                    top: 0;
                    width: 5px;
                    height: 100%;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    transition: width 0.3s;
                }
                .face-int:hover .face-colore {
                    width: 25%;
                }
                .face-int:hover .date {
                   color:white;
                }
                .separation {
                    position: absolute;
                    left: 25%;
                    top: 10px;
                    width: 1px;
                    height: calc(100% - 20px);
                    background: #ECECEC;
                }
                .titre{
                    font-size: 15px;
                    padding-left: 25px;
                    font-weight: 600;
                    p{
                        margin-bottom: 0px;
                    }
                    
                    .typeConso{
                        color: #828282;
                        font-weight: 200;
                        font-size: 15px;
                        margin: 0px;
                    }
                }
                .face{
                    padding: 20px;
                    
                }
                .date{
                    color: black;
                    text-align: center;
                        margin-top: 1em;
                    p{
                        margin: 0px;
                        padding:0px;
                        line-height: 15px;
                        font-weight: 600;

                    }
                }
                .face-int .points{
                    float: right;
                    color: map-get($colors, primary);
                    text-align: right;
                    padding-right: 10px;
                    font-weight: 700;
                    ion-icon[name=icon-medal]{
                        line-height: 20px;
                        &:before{
                            font-size: 20px;
                        }
                    }
                    ion-icon[name=icon-chevron]{
                        line-height: 13px;
                        pointer-events: none;
                        color: #7686FF;
                        font-weight: bold;
                        &:before{
                            font-size: 13px;
                        }
                    }
                }
                .card-section-4{
                    text-align: center;
                    display: inline-block;
                    .card-cote.face{
                        text-align: center;
                    }
                }
            }  
        }
        .cardPrincipal .card-section .section-interieur{
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
        }

        ion-col{
            display: inline-block;
            box-sizing:border-box;
            padding: 0px;
            margin: -2px;
        }
    }

    @media screen and (min-width: 396px) {
        .grid .cardPrincipal .cardsVille .card-section .face-int .points{
            flex: 0 0 33.33333%;
            -webkit-flex: 0 0 33.33333%;
            -ms-flex: 0 0 33.33333%;
            width: 33.33333%;
            max-width: 33.33333%;
        }

        .grid .cardPrincipal .cardsHomright .card-section .face-int .points{
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 25%;
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            width: 25%;
            max-width: 25%;
        }
    }


    @media screen and (max-width: 575px) {
        ion-content .fond-vague .vague{
            height: 20px;
        }
    }

      @media screen and (max-width: 396px) {

        .grid .cardPrincipal .card-section .titre{
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 70%;
            -ms-flex: 0 0 70%;
            flex: 0 0 70%;
            width: 70%;
            max-width: 70%;
            margin-top: 10px;
            padding-left: 0px;
            float: right;
        }

        .grid .cardPrincipal .card-section .face-int .points{
            p{
                float: left;
                margin-top: 10px;
                margin-left: 31%;
            }
        }

        .grid .cardPrincipal .card-section .date{
            margin-top: 2em;
        }

        .grid .cardPrincipal .card-section .card-cote{
            padding-bottom: 10px;
        }
    }

    @media screen and (max-width: 330px) {
        ion-header .toolbar .segment .segment-button{
            &[value="eventApp"]{
                margin-right: 30px;
            }
            &[value="eventVille"]{
                margin-left: 30px;
            }
        }
    }
}
