page-jeu-modelisation {
	.parcours{
		position: fixed;
	    right: 10px;
	    top: 10px;
	    text-align: center;
	    text-transform: uppercase;
	    font-family: "Futura";
	    font-weight: 800;
	    font-size: 15px;
	    z-index: 7;
		.prev{
			background: white;
			border: 2px solid black;
	    	display: inline-block;
	    	width: 120px;
	    	height: 120px;
	    	margin: 0 0;
	    	float: right;
		    p{
		    	text-align: center;
		    }
		}
		div:first-child{
			display: inline-block;
			margin: 0px 10px;
		    ion-icon{
		    	border: 1px solid black;
	    		border-radius: 50%;
	    		font-size: 18px;
	    		width: 40px;
	    		height: 40px;
	    		margin: auto;
	    		text-align: center;
	    		padding: 9px;
	    		margin:0 10px;
	    		&.active{
	    			background-color:  map-get($colors, secondary);
	    			color: white;
	    			border-color:  map-get($colors, secondary);
	    		}
	    		&.inactive{
	    			opacity: 0.5;
	    		}
	    		p{
	    		width: 100px;
	    		color: black;
	    		text-align: center;
	   		 	font-size: 16px;
	   			margin: 12px -40px;
	    		}
		    }
		}
	}

	.gestion-range{
		p{
	    	margin: 0px;
	    }
	    .container-gestion{
	    	margin: 30px 0px;
	    }
	    .range-md, .range-ios{
	    	padding: 0px;
	    }
	}

	.bouton-taille{
		text-align: center;
			button{
		    margin: 5px;
	    	width: 60px;
	    	height: 60px;
	    	border-radius: 8px;
	   		display: inline-block;
		}
	}
	.spare-item{
	    display: inline-block;
	    margin: 0 0;
	    right: 40px;
    	top: 40px;
	    z-index:8;
	    position: fixed;
	}


.spare-item2{
    display: inline-block;
    float: left;
    margin: 0 0;
    z-index:8;
    position:absolute;
}


	.opac {
  opacity: .8;
}

	.move-cursor {
	  cursor: move;
	}

	.grab-cursor {
	  cursor: grab;
	  cursor: -webkit-grab;
	}


	.bouton{
		margin: 0 auto;
		width: 60px;
    	height: 60px;
    	border-radius: 8px;
	    z-index: 10;
    	position: absolute;
		right: 20px;
    	bottom: 20px;
	}

	.bouton-annuler{
		right:100px;
	}


	#draggable5, .draggable{
		background: white;
		height:80px;
		width: 80px;
		border:1px solid grey;
		position: relative;
	}

	.contenu{
		position: absolute;
    	left: -20%;
		min-width: 350px;
		max-width: 33%;
		height: 100%;
    	width: 100%;
    	transition: left 1s;
	}

	.elements-taille{
		padding: 0 20px;
	}

	.contenu-actif, .contenu-taille{
		position: absolute;
    	left: 0%;
		min-width: 350px;
		max-width: 33%;
		height: 100%;
    	width: 100%;
    	transition: left 1s;
	}

	.scroll-content{
		padding-bottom: 0px !important;
	}

	.no-scroll > div.scroll-content{
		overflow: hidden;
	}

	h1{
	font-family: "Futura";
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 20px;
	}

	h1.titre-taille{
		font-size: 28px;
		color:black;
	}

	ion-label[fixed] {
    flex: initial;
    width: initial;
    font-size: 15px;
	}

	.label-ios, .label-md{
		margin: 0;
	}

	.segment-button {
    overflow: initial;
    text-overflow: inherit;
    white-space: nowrap;
	}

	ion-segment{
		display: block;
		ion-icon{
			vertical-align: middle;
			color:#7686FF;
			text-align: center;
			font-size: 20px;
		}
		ion-icon:before{
			font-size: 20px !important;	
		}
		ion-icon[name="icon-placard"]:before, ion-icon[name="icon-vase"]:before{

			font-weight: bold;
		}
	}


	.elements, .elements-taille{
		background: white;
		box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
		overflow: scroll;
		z-index: 12;
	}

	.elements-active{
		background: #7686FF;
		box-shadow:none;
		overflow: scroll;
		z-index: 10;
	}

	.elements-active .item-md, .elements-active .item-ios,
	.elements .item-md, .elements .item-ios{
		background-color: transparent;
	}

	.container{
		padding: 0 10px;
	}

	.container-actif {
		visibility:visible;
		//transition: visibility 1s;
		h2, p{
    		color: white;
		}		
	}	

	.container-inactif{
		visibility:hidden;
		//transition: visibility 1s;
	}

	.container .item-block{
		padding: 15px 0;
		border-bottom: 1px solid white;
	}

	.list-ios .item-block .item-inner, .list-ios > .item-block:last-child .item-inner,
	.list-ios > .item-wrapper:last-child .item-block .item-inner, .list-md .item-input:last-child, .list-md .item-input,
	.list-md .item-input:first-child, .list-ios > .item-wrapper:last-child .item-block,
	.list-md .item-block .item-inner{
		border-color: transparent;
	}

	.choix{
		padding: 0px;
	}

	.segment-md .segment-button, .segment-ios .segment-button, .segment-ios .segment-button:first-of-type, 
	.segment-ios .segment-button:last-of-type{
		z-index: 10;
		width:100%;
    	max-width: 100px;
    	min-width: 90px;
    	border-bottom-width: 2px;
    	border-style: none;
    	border-color: rgba(0, 0, 0, 0.1);
    	font-size: 18px;
		font-family: 'Futura Cd';
		font-weight: 200;
    	line-height: 100%;
    	text-transform: lowercase;
    	color: black;
    	text-align: left;
    	opacity: 1;
    	height:65px;
    	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
		border-radius: 0px 8px 8px 0px;
		background: white;
		padding: 0px;
		margin: 10px 0;
	}


	.segment-ios .segment-button.segment-activated,
	.segment-md .segment-button.segment-activated {
    color: #fff;
    background-color: #7686FF;
    opacity: 1;
    -webkit-transition: 100ms all linear;
    transition: 100ms all linear;
    box-shadow: none;
    	ion-icon {
    		color:white;
    	}
	}

	.segment-md .segment-button p, .segment-ios .segment-button p{
		display: inline-block;
    	text-align: left;
        padding: 25px 0px 0px 0px;
        margin: 0px;
        &.titre-compose{
        	padding: 15px 0px 0px 0px;
        }
	}




	.toolbar-background-ios {
    background: transparent;
	}

	.grid{
		padding:0px;
	}

	.toolbar{
		display: initial;
		contain: initial;
	}

	.grid, .toolbar-ios .segment-ios, .toolbar-md .segment-md{
		height: 100%;
    	width: 100%;
        position: initial;
	}

	.segment-button {
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
	}

	.toolbar-ios, .toolbar-md{
		padding: 0px;

	}

	.modelisation{
		position: absolute;
    	width: 100%;
    	height: 100%;

	}


	.container-maison::-webkit-scrollbar { 
	    display: block; 
	    background-color: #aaa;
	}

	.container-maison::-scrollbar { 
	    display: block; 
	    background-color: #aaa;
	}


html {
  box-sizing: border-box;
}



input[type="range"]
{
    width: 200px;

}


.container-maison{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    left: 30%;
    top: 20%;
	//overflow-x: scroll;
    //overflow-y: scroll;
}

.sol{
    position: relative;
    //left: 30%;
    width: 100%;
    height: 100%;
    display: block;
    vertical-align: middle;
    //margin: 50px 0;
}

.ligne-sol
{
   display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start; 
	align-content: flex-start; 
	height: 100%;
}


	.case-sol, .actions
	{
	    width: 160px;
	    height: 60px;   
	    flex-shrink: 0;        
	    margin:auto;
	    position: absolute;
	}

	.case-sol{
		z-index: 7;
	}

	.mur-cache{
		opacity: 0;
	    -webkit-transition: 500ms opacity linear;
    	transition: 500ms opacity linear;
    	transition-delay: 1000ms;
	}

	.mur-visible{
    	opacity: 1;
	    -webkit-transition: 500ms opacity linear;
    	transition: 500ms opacity linear;	
    	transition-delay: 1000ms;	
	}

	.mur{
		border: 5px solid #E6E6E6;
    	height: 500px;
    	width: 50px;
    	z-index: 1;
    	position: absolute;
    	top: -358px;
    	left: -16px;
    	transform: rotateX(60deg) rotateY(-35deg) rotateZ(0deg);
    	border-right: 3px solid #F5F5F5;

	}

	.mur2{
		border: 5px solid #E6E6E6;
    	height: 500px;
    	width: 50px;
    	z-index: 1;
    	position: absolute;
    	top: -283px;
    	left: 25px;
    	transform: rotateX(-60deg) rotateY(-33.7deg) rotateZ(0deg);
    	border-left: 3px solid #F5F5F5;
	}

	#case-maison{
		background-image: url("../../assets/imgs/case.png");
	    border: 1px solid white;
	    background-position: 0px 0px;
	    background-size: 60px 60px;
		width: 60px;
	    height: 60px;
	    -webkit-transition: 1000ms transform linear;
    	transition: 1000ms transform linear;
    	//transform: rotateX(54deg) rotateY(2deg) rotateZ(43deg);
    	
	}

	.case-maison3d{
		transform: rotateX(54deg) rotateY(2deg) rotateZ(43deg);
		-webkit-transition: 1000ms transform linear;
    	transition: 1000ms transform linear;
    	//
	}

/* ITEMES */

	.objets-presentation{
		cursor: pointer;
	}

	.buttonSymetrie{
	width: 40px;
    padding: 10px;
    position: absolute;
    top: -15px;
    left: -10px;
    z-index: 20;
    background: #7686FF;
    border-radius: 50%;
	}

	.buttonVoir{
	width: 40px;
    padding: 10px;
    position: absolute;
    top: -42px;
    left: 40px;
    z-index: 20;
    background: #7686FF;
    border-radius: 50%;
	}


	.item-radiateur{
		.buttonSymetrie{
			top: -15px;
    		left: -10px;
		}
		.buttonVoir{
			top: -31px;
    		left: 35px;
		}
	}

	.item-led, .item-halogene{
		.buttonSymetrie{
			top: -28px;
    		left: -10px;
		}
		.buttonVoir{
			top: -35px;
    		left: 37px;
		}
	}

	.item-lampadaire-halo, .item-lampadaire-led{
		.buttonVoir{		
			top: -50px;
    		left: 10px;
    	}
	}

	@mixin makeIsometrie60x60($nom) {
		.item-#{$nom}{
			background-image: url("../../assets/isometrie/symbole/#{$nom}.png");
			width: 50px;
			height: 50px;
		    background-size: 50px 50px;
		}

		.item-#{$nom}.spare-item, .item-#{$nom}.spare-item2{
			background-image: url("../../assets/isometrie/#{$nom}.png");
			width: 60px;
		    height: 60px;
		    background-size: 60px 60px;
		}
	}

	@mixin makeIsometrie60x120($nom) {
		.item-#{$nom}{
			background-image: url("../../assets/isometrie/symbole/#{$nom}.png");
			width: 50px;
			height: 50px;
		    background-size: 50px 50px;
		}

		.item-#{$nom}.spare-item{
			background-image: url("../../assets/isometrie/#{$nom}.png");
			width: 40px;
		    height: 80px;
		    right: 53px;
    		top: 30px;
		    background-size: 40px 80px;			
		}

		.item-#{$nom}.spare-item2{
			background-image: url("../../assets/isometrie/#{$nom}.png");
			width: 60px;
		    height: 120px;
		    background-size: 60px 120px;
		}
	}

	@mixin makeIsometrie180x180($nom) {
		.item-#{$nom}{
			background-image: url("../../assets/isometrie/symbole/#{$nom}.png");
			width: 50px;
			height: 50px;
		    background-size: 50px 50px;
		}

		.item-#{$nom}.spare-item{
			background-image: url("../../assets/isometrie/#{$nom}.png");
			width: 60px;
		    height: 60px;
		    background-size: 60px 60px;			
		}

		.item-#{$nom}.spare-item2{
			background-image: url("../../assets/isometrie/#{$nom}.png");
			width: 140px;
		    height: 140px;
		    background-size: 140px 140px;
		}
	}


	@mixin makeIsometrie180x140($nom) {
		.item-#{$nom}{
			background-image: url("../../assets/isometrie/symbole/#{$nom}.png");
			width: 50px;
			height: 50px;
		    background-size: 50px 50px;
		}


		.item-#{$nom}.spare-item{
			background-image: url("../../assets/isometrie/#{$nom}.png");
			width: 80px;
		    height: 60px;
		    background-size: 80px 60px;
		    right: 30px;
		}

		.item-#{$nom}.spare-item2{
			background-image: url("../../assets/isometrie/#{$nom}.png");
			width: 198px;
		    height: 154px;
		    background-size: 198px 154px;
		}
	}


	@mixin makeIsometrie180x360($nom) {
		.item-#{$nom}{
			background-image: url("../../assets/isometrie/symbole/#{$nom}.png");
			width: 50px;
			height: 50px;
		    background-size: 50px 50px;
		}

		.item-#{$nom}.spare-item{
			background-image: url("../../assets/isometrie/#{$nom}.png");
			width: 40px;
		    height: 80px;
		    background-size: 40px 80px;	
		    right: 50px;
    		top: 32px;		
		}

		.item-#{$nom}.spare-item2{
			background-image: url("../../assets/isometrie/#{$nom}.png");
			width: 120px;
		    height: 240px;
		    background-size: 120px 240px;
		}
	}


	@include makeIsometrie60x60(fenetre);
	@include makeIsometrie60x60(halogene);
	@include makeIsometrie60x60(led);
	@include makeIsometrie60x60(radiateur);
	@include makeIsometrie60x60(prise);

	@include makeIsometrie60x120(lampadaire-halo);
	@include makeIsometrie60x120(lampadaire-led);

	@include makeIsometrie180x140(lit);

	@include makeIsometrie180x180(ordi-fixe);
	@include makeIsometrie180x180(ecran-plat);

	@include makeIsometrie180x360(placard);


	@media only screen and (min-width: 1300px) {
		.container {
	    padding: 10px 40px;
		}

	}


	@media only screen and (min-width: 1200px) 
	{
		.segment-md .segment-button, .segment-ios .segment-button, .segment-ios .segment-button:first-of-type, 
		.segment-ios .segment-button:last-of-type{
			z-index: 10;
			width:100%;
	    	max-width: 200px;
	    	min-width: 90px;
		}

		ion-segment{
			display: block;
			ion-icon{
				vertical-align: middle;
				color:#7686FF;
				text-align: center;
			}
			ion-icon:before{
				font-size: 40px !important;	
			}
			ion-icon[name="icon-placard"]:before, ion-icon[name="icon-vase"]:before{

				font-weight: bold;
			}
		}


		.bouton{
			margin: 0 auto;
			width: 80px;
	    	height: 80px;
	    	border-radius: 8px;
	    	z-index: 10;
	    	position: absolute;
			right: 50px;
	    	bottom: 50px;
		}

		.bouton-annuler{
			right:150px;
		}

		.contenu{
	    	left: -18%;
		}

    	.segment-md .segment-button {
        	font-size: 25px;
    	}

	    .segment-md .segment-button, .segment-ios .segment-button, .segment-ios .segment-button:first-of-type, 
		.segment-ios .segment-button:last-of-type{
	    	height:85px;
		}

		.segment-md .segment-button p, .segment-ios .segment-button p{
	        //padding: 30px 0px 0px 0px;
		}



		h1{
		font-size: 25px;
		}
		
	}
	@media only screen and (max-width: 1200px) {
		.contenu{
			left:-18%;
		}
		h1.titre-taille{
			font-size: 20px;
		}

		.segment-md .segment-button ion-icon {
    	font-size: 20px;
    	line-height: 100%;
		}

		ion-icon[name="icon-plug"]{
			vertical-align: middle;
    		height: 100%;
    		margin-top: 18px;
		}
	}


	@media only screen and (max-width: 900px) {
		.contenu{
			left:-22%;
		}

		.segment-md .segment-button, .segment-ios .segment-button, .segment-ios .segment-button:first-of-type, 
		.segment-ios .segment-button:last-of-type{
			height: 60px;
			margin: 8px 0;
		}


		.segment-md .segment-button p, .segment-ios .segment-button p{
			padding: 20px 0px 0px 0px;
			&.titre-compose{
				padding: 10px 0px 0px 0px;
			}
		}

	}


	@media only screen and (max-width: 800px) {
		.contenu{
			left:-25%;
		}
	}

	@media only screen and (max-width: 700px) {
		.contenu{
			left:-28%;
		}

		.segment-md .segment-button, .segment-ios .segment-button, .segment-ios .segment-button:first-of-type, 
		.segment-ios .segment-button:last-of-type{
			height: 60px;
			margin: 8px 0;
		}

		h1.titre-taille {
    		font-size: 18px;
		}

		.bouton{
			width: 50px;
    		height: 50px;
		}

	}

	@media only screen and (max-width: 600px) {
		.contenu{
			left:-33%;
		}

		.segment-md .segment-button, .segment-ios .segment-button, .segment-ios .segment-button:first-of-type, 
		.segment-ios .segment-button:last-of-type{
			height: 55px;
			margin: 5px 0;
		}

		.segment-md .segment-button p, .segment-ios .segment-button p{
			padding: 18px 0px 0px 0px;
			&.titre-compose{
				padding: 10px 0px 0px 0px;
			}
		}

	}



}

