page-modelisation-bienvenue {
  .scroll-content{
    display: flex;
    .container.grid{
      justify-content: center;
    }
  }

  p{
    color: map-get($colors, medium);
    text-align: center;
  }
  h1{
    text-align: center;
    text-transform: uppercase;
  }
  button.bouton-principal{
    border: 0px;
    margin: 8px auto;
    max-width: 200px;
    width: 100%
  }
  .plus-tard{
  }
  .fond-cache{
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    display: none;
    .box-principal{
      width: 100%;
      height: 100%;
      display: flex;
    }
    .lightbox{
      margin: auto;
    }
    .lightbox-content{
      background: white;
      width: 100%;
      padding: 15px;
      h2, div{
        text-align: center;
      }
      p{
        color: black;
      }
      ion-icon::before{
        font-size: 20px;
      }
      button{
        width: 45px;
        height: 45px;
        display: inline-block;
        margin: 20px 8px;
        &.not-selected{
          border: 1.5px solid map-get($colors, primary);
          background: none;
          color: map-get($colors, primary);
        }
      }
      .arrow-return{
        float: left;
        cursor: pointer;
      }
    }
  }
}
