page-modelisation-bienvenue {
  .container{
    display: block;
    max-width: 350px;
    margin: 0 auto;
    position:relative !important;
    padding-top : 0px ;
    padding-bottom : 0px ;
  }
  .scroll-content{
    display: flex;
    .container.grid{
      justify-content: center;
    }
  }

  .lottie{
    margin: auto;
    max-width: 100px;
    width: 50%;
    height: 50%;
  }

  .mascotte{
    width:50%;
    height: 50%;
    margin-bottom: 15px;
  }

  ion-content ion-grid.container ion-row h1{
    font-weight: 600;
    margin: 20px 0px !important;
    font-size: 28px;
  }

  p{
    color: map-get($colors, medium);
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
  }
  h1{
    text-align: center;
    text-transform: uppercase;
  }
  button.bouton-principal, button.bouton-contour{
    margin: 15px auto;
    max-width: 200px;
    width: 100%;
    height:45px;
  }
  .plus-tard{
  }
  .fond-cache{
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    display: none;
    .box-principal{
      width: 100%;
      height: 100%;
      display: flex;
    }
    .lightbox{
      margin: auto;
    }
    .lightbox-content{
      background: white;
      width: 100%;
      padding: 15px;
      border-radius: 4px;
      .explication{
        margin: 0px;
        .mascotte{
          max-width: 200px;
          display: none;
        }
        p{
          max-width: 500px;
          font-size: 16px;
          margin-top: 0px;
        }
        h2{
          font-family: 'Futura';
          font-weight: 600;
        }

      }
      h2, div{
        text-align: center;
      }
      p{
        color: black;
      }
      ion-icon{
        float: left;
      }
      ion-icon::before{
        font-size: 20px;
      }
      button{
        width: 70px;
        height: 55px;
        display: inline-block;
        margin: 20px 8px;
        border-radius: 8px;
        box-shadow: none;
        &.not-selected{
          border: 1.5px solid map-get($colors, primary);
          background: none;
          color: map-get($colors, primary);
        }
      }
      .arrow-return{
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        p {
          text-align: center;
          font-size: 15px;
          display: inline-block;
          margin: 0px;
          padding: 0px;
          text-transform: uppercase;
          font-weight: 600;
          margin-left: 10px;
        }
      }
    }
  }
  @media screen and (max-height: 580px) {
    p{
      margin: 10px 0px;
    }
  }

    @media screen and (max-width: 900px) {
    lottie-animation-view{
      display: none;
    }
    .fond-cache .lightbox-content .explication{
      margin: 20px 0px;
      .mascotte{
        display: block;
      }
    }
  }
}
