page-synchro-faite {
  .container{
    display: block;
    max-width: 400px;
    margin: 0 auto;
    position:relative !important;
    padding : 0px 28px;
  }

  h4{
    font-family: "Futura";
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
  }

  .header{
    background: #7686FF;
    position: relative;
    display: block;
    width: 100%;
  }

  .mascotte{
    width: 50%;
    height: 50%;
    max-width: 150px;
    margin: 30px auto 0px auto;
  }

  ion-header h2{
    font-family: "Futura";
    font-weight: 600;
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
  margin: -10px auto;
  }

  ion-header p{
    font-family: "Futura";
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    margin: 10px auto;  
  }


  .valider{
    margin-top: 30px;
  }


  .fond-vague {
    height: 50px;
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
    top: 0px;
    background: white;
    .vague {
      top: 4px;
      position: relative;
      margin-top: -5px;
      height: 50px;
    }
  }

  .inactif   ion-label{
    text-transform: uppercase;
    font-size: 12px;
  }

  button.item-block{
    margin-top: 0px;
  }

   	ion-item.inactif, .list-md .item-input.inactif, .list-md .item-block .item-inner,
   .list-ios .item-block.inactif .item-inner{
  		border-bottom: 1px solid white;
  	}

  	button p, button.item-md p, button.item-ios p{
  		font-family: "Futura";
  		font-weight: 700;
  		color:black;
  	}

	.inactif .label-md, .inactif .label-ios {
    	margin: 40px 8px 0px 0;
	}

	 .list-md > button.item-block:last-child .item-inner,
	 .list-ios button.item-block .item-inner, .list-ios > button.item-block:last-child .item-inner{
		border-bottom:1px solid black;
		padding-bottom: 10px;
	}

      @media only screen and (max-width: 700px) {
    .fond-vague {
      height: 40px;
      .vague {

        height: 30px;
      }
    }
    .mascotte {
      max-width: 120px;
    }

    .valider {
    margin-top: 0px;
    }
  }


    @media only screen and (max-height: 600px) {


    .valider{
      margin-top: 15px;
    }
  }


}
