// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-app.md{
	font-family: "Futura";
	font-weight: 300;	
}

.list-ios > .item-block:first-child {
    border-top: 0.55px solid transparent;
}

::-webkit-scrollbar { 
    display: none; 
}

::-scrollbar { 
    display: none; 
}

.mascotte{
	display: block;
	margin: 0 auto;
}

.bouton-contour{
	color: #A675FF;
	font-family: "Futura";
	font-weight: 300;
	border-radius: 30px;
	background: white;
	box-shadow: 10px 10px 8px 10px transparent;
	border: 1px solid #A675FF;
	text-transform: lowercase;
}

.bouton-contour:hover:not(.disable-hover), .bouton-contour:active, .bouton-contour.button-ios.activated{
	color:#A675FF;
	box-shadow: 10px 10px 8px 10px transparent;
	background: white;
}

.bouton-principal{
	color: #FFFFFF;
	font-family: "Futura";
	font-weight: 300;
	border-radius: 30px;
	background: linear-gradient(275.97deg, #5790FF -46.25%, #DF61FF 191.58%);
	box-shadow: 10px 10px 8px 10px transparent;
	border: 1px solid #A675FF;
	width: 65%;
	height: 45px;
	margin: 0 auto;
}

.bouton-principal:hover:not(.disable-hover), .bouton-principal:active{
	color:white;
	box-shadow: 10px 10px 8px 10px transparent;
	background: linear-gradient(275.97deg, #5790FF -46.25%, #DF61FF 191.58%);
}

.center{
	text-align: center;
    margin: 0px;
}

.right{
	text-align: right;
    margin: 5px 0 10px 0;
}

.back-button-text-ios{
	display:none;
}

.toolbar-title{
	text-align: center;
	text-transform: uppercase;
	font-family: "Futura";
	font-weight: 300;
	font-size: 16px;
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after,
.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before,
.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios,
.toolbar-background-md{
	background-image: none;
	background : white;
	border-color : white;
}


ion-title, .toolbar-ios ion-title {
    left: 0;
    top: 0;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.list-ios .item-block .item-inner,
.list-ios > .item-block:last-child .item-inner, .list-ios > .item-wrapper:last-child .item-block .item-inner,
.list-md .item-input:last-child, .list-md .item-input, .list-md .item-input:first-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 1px solid #000000;
}

.item-md, .item-ios{
	padding-left: 0px;
}

.text-input-md{
	margin:0;
}

.back-button.show-back-button {
    z-index: 99;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: black;
}

h3{
	font-family: "Futura Cd";
	font-weight: 300;
}

[col-12] {
    padding: 0;
}