// http://ionicframework.com/docs/theming/
@import "../theme/icons";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-app.md{
	font-family: "Futura";
	font-weight: 300;	
}

.list-ios > .item-block:first-child {
    border-top: 0.55px solid transparent;
}

::-webkit-scrollbar { 
    display: none; 
}

::-scrollbar { 
    display: none; 
}

.mascotte{
	display: block;
	margin: 0 auto;
}

.bouton-contour{
	color: #F5AF47;
	font-family: "Futura";
	font-weight: 300;
	border-radius: 30px;
	background: white;
	box-shadow: 10px 10px 8px 10px transparent;
	border: 1px solid #F5AF47;
    text-transform: uppercase;
    font-size: 13px;
}

.bouton-contour:hover:not(.disable-hover), .bouton-contour:active, .bouton-contour.button-ios.activated{
	color:#F5AF47;
	box-shadow: 10px 10px 8px 10px transparent;
	background: white;
}

.text-input{
	margin-top: 0px;
}

.item-input-has-focus ion-label[floating], .input-has-focus ion-label[floating], .item-input-has-value ion-label[floating], .input-has-value ion-label[floating]{
	text-transform: uppercase;
}

.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
    border-bottom-color: transparent;
    box-shadow: none;
  }

.item-block{
	margin-top: 10px;
}

.item-label-floating .text-input{
	margin-top: 4px;
	margin-bottom: 5px;
}


.item-input-has-focus .label[floating], 
.input-has-focus .label[floating],
.item-input-has-value .label[floating],
.input-has-value .label[floating] {
    -webkit-transform: translate3d(0, 0, 0) scale(0.8);
    transform: translate3d(0, 0, 0) scale(0.7);
    
}


.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: black;
    box-shadow: none;
}


.bouton-principal{
	color: #FFFFFF;
	font-family: "Futura";
	font-weight: 300;
	border-radius: 30px;
	background: #F5AF47;
	box-shadow: 10px 10px 8px 10px transparent;
	//border: 1px solid #F5AF47;
	width: 65%;
	height: 45px;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 13px;
}

.bouton-principal:hover:not(.disable-hover), .bouton-principal:active{
	color:white;
	box-shadow: 10px 10px 8px 10px transparent;
	background: #F5AF47;
}

.center{
	text-align: center;
    margin: 0px;
}

.right{
	text-align: right;
    margin: 5px 0 10px 0;
}

.back-button-text-ios{
	display:none;
}

.toolbar-title{
	text-align: center;
	text-transform: uppercase;
	font-family: "Futura";
	font-weight: 300;
	font-size: 16px;
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after,
.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before,
.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios,
.toolbar-background-md{
	background-image: none;
	background : white;
	border-color : white;
}


ion-title, .toolbar-ios ion-title {
    left: 0;
    top: 0;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.list-ios .item-block .item-inner,
.list-ios > .item-block:last-child .item-inner, .list-ios > .item-wrapper:last-child .item-block .item-inner,
.list-md .item-input:last-child, .list-md .item-input, .list-md .item-input:first-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 1px solid #000000;
}

.item-md, .item-ios{
	padding-left: 0px;
}

.text-input-md{
	margin:0;
}

.back-button.show-back-button {
    z-index: 99;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: black;
}

h3{
	font-family: "Futura Cd";
	font-weight: 700;
	text-transform: uppercase;
	color: #333333;
	font-size: 2.2rem;
}

[col-12] {
    padding: 0;
}


.bouton-rond{
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.17);
    border-radius: 50px;
    float:right;
    margin:0px;
    color: #709CFF;
    font-size: 20px;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, 
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
	border-bottom-color: black;
    box-shadow: inset 0 -1px 0 0 transparent;
}

  .fond-vague{
    background: #7686FF;
    height: 50px;
    width: 100%;
    position: absolute;
    margin-left: -16px;
    margin-top: -16px;
  }

  .vague{
    width: 100vw;
    position: absolute;
    top: 49px;
    height: 85px;
  }

	.boutton-menuP{
		position: absolute;
		left: 0%;
    	right: 0%;
    	margin: auto;
		bottom: 15px;
		width: 50px;
		height:50px;
		border-radius: 50px;
		background: #FFFFFF;
		box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
		background: white;
		img{
			width:20px;
		}
	}


	@media only screen and (max-width: 1100px) {
	  .vague {
	    width: 100vw;
	    position: absolute;
	    top: 49px;
	    height: 75px;
	}
}

	@media only screen and (max-width: 900px) {
	  .vague {
	    width: 100vw;
	    position: absolute;
	    top: 49px;
	    height: 50px;
	}
}
	@media only screen and (max-width: 700px) {
	  .vague {
	    width: 100vw;
	    position: absolute;
	    top: 49px;
	    height: 40px;
	}

}