page-home {

ion-content.HomieGood{
  .title{
    p.analyseMessage{
      &::before{
        content: "Homie est malade";
      }
    }
  }
  ion-row.mascotte{
    img{
      &:nth-child(2){
        display: block;
      }
      &:nth-child(1){
        display: none;
      }
    }
  }
}


  .text-center {
    text-align: center;
  }
  .title{
    color: white;
    position: relative;
    z-index: 10;
    h1{
      font-family: 'Futura';
      margin-bottom: 5px;
      position: relative;
      z-index: 10;
      width: 100%;
    }
    p.analyseMessage{
      margin: 0;
      &::before{
        content: "Homie est en forme aujourd'hui";
      }
      &::before{
        content: "Homie analyse votre consommation";
      }
    }
  }
  .flex-center{
    display: flex;
    justify-content: center;
    margin: auto;
  }
  h3{
    margin: auto;
  }
  .button-event{
    border-radius: 20px;
    box-shadow: none;
  }
  .mascotte{
    img{
      width: 100px;
      margin-top: -30px;
      z-index: 10;
      position: relative;

      &:nth-child(1){
        display: block;
      }
      &:nth-child(2){
        display: none;
      }
    }

  }
  ion-row{

    button.button-md{
      background-color: map-get($colors, primary);
      color: white;
      margin: 0;
    }
    button.button-event{
      background: none;
      border: 2px solid map-get($colors, white);
      &:hover{
        background-color: white!important;
        color: map-get($colors, secondary);
      }
      ion-icon{
        position: absolute;
        &:first-child{
          left: 10px;
        }
        &:last-child{
          right: 6px;
          font-weight: bold;
          margin-top: -2px;
          &::before{
            font-size: 14px;
            font-weight: bold;
          }
        }
        &::before{
          font-size: 20px;
        }
      }
    }
  }
}
