page-home {

ion-content{
  background-image: url("../assets/imgs/vague_home.svg");
  background-repeat: no-repeat;
}


  .text-center {
    text-align: center;
  }
  .title{
    color: white;
    h1{
      font-family: 'Futura';
      margin-bottom: 5px;
    }
    p{
      margin: 0;
      &.analysePositive::before{
        content: "Homie est en forme aujourd'hui";
      }
      &.analyse::before{
        content: "Homie analyse votre consommation";
      }
    }
  }
  .flex-center{
    display: flex;
    justify-content: center;
    margin: auto;
  }
  h3{
    margin: auto;
  }
  .button-event{
    border-radius: 20px;
    box-shadow: none;
  }
  .mascotte{
    width: 100px;
  }
  ion-row{
    button.button-md{
      background-color: map-get($colors, primary);
      color: white;
    }
    button.button-event{
      background: none;
      border: 2px solid map-get($colors, white);
    }
  }
}
