page-home {

  .container{
    max-width: 450px;
  }


ion-content.HomieGood{
  .title{
    h1{
      &::before{
        content: "Hom'right,";
      }
    }   
    p.analyseMessage{
      &::before{
        content: "Homie est en forme aujourd'hui !";
      }
    }
  }
  ion-row.mascotte{
    img{
      &:nth-child(1){
        display: block;
      }
      &:nth-child(2){
        display: none;
      }
    }
  }
}

ion-content.HomieBad{
  .title{
    h1{
      &::before{
        content: "Oh non !";
      }
    } 
    p.analyseMessage{
      &::before{
        content: "Homie est malade ! Votre consommation est en hausse depuis 3h.";
      }
    }
  }
  ion-row.mascotte{
    img{
      &:nth-child(2){
        display: block;
      }
      &:nth-child(1){
        display: none;
      }
    }
  }
}

  .valeurs-conso{
    display: flex;
    button{
      position: absolute;
      background: transparent;
      right: 30px;
      top: 35px;
      ion-icon{
        border: solid 2px map-get($colors, primary);
        color: map-get($colors, primary);
        padding: 15px;
        border-radius: 50%;
        &::before{
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
  }

  .text-center {
    text-align: center;
  }

  .conso-nb{
      font-family: 'Futura';
    font-weight: 600;
    .euros{
      font-size: 50px;
      span{
        font-family: 'Assistant';
        font-size: 30px;
        font-weight: 300;
      }
    }
    .kwh{
      font-size: 35px;
      margin-top: -5px;
      span{
        font-family: 'Assistant';
        font-size: 25px;
        font-weight: 300;
      }
    }

  }

  h3{
    font-family: 'Futura';
    font-weight: 600;
    text-transform: none;
    font-size: 16px;
    text-align: left;
  }

  .bouton-principal{
    width: 120px;
    text-transform: none;
    font-weight: 500;
    height: 35px;
    font-size: 14px;
  }


  .title{
    color: white;
    position: relative;
    z-index: 10;
    h1{
      font-family: 'Futura';
      margin-bottom: 5px;
      margin-top: 15px !important;
      position: relative;
      z-index: 10;
      width: 100%;
      font-weight: 700;
      font-size: 35px;
    }
    p.analyseMessage{
      margin: 0;
      &::before{
        content: "Homie analyse votre consommation";
        font-size: 16px;
      }
    }
  }
  .flex-center{
    display: flex;
    justify-content: center;
    margin: auto;
  }
  h3{
    margin: auto;
  }
  .button-event{
    border-radius: 20px;
    box-shadow: none;
  }
  .mascotte{
    img{
      width: 150px;
      margin-top: 0px;
      z-index: 10;
      position: relative;

      &:nth-child(1){
        display: block;
      }
      &:nth-child(2){
        display: none;
      }
    }

  }
  ion-row{

    button.button-md{
      background-color: map-get($colors, primary);
      color: white;
      height: 30px;
    }
    button.button-event{
      background: none;
      border: 1px solid map-get($colors, white);
      height: 35px;
      width: 85%;
      margin: auto;
      &:hover{
        background-color: white!important;
        color: map-get($colors, secondary);
      }
      span{
        font-size: 14px;
      }
      ion-icon{
        position: absolute;
        &:first-child{
          left: 10px;
        }
        &:last-child{
          right: 6px;
          font-weight: bold;
          margin-top: -2px;
          &::before{
            font-size: 14px;
            font-weight: bold;
          }
        }
        &::before{
          font-size: 20px;
        }
      }
    }
  }
  .mesRoutines{
    padding-left: 0!important;
    padding-right: 0!important;
    ion-scroll{
      height: 150px;
      white-space:nowrap;
      .scroll-content{
        padding: 0px !important;
      }
    ion-list{
      width:100%;
      margin-bottom: 0;
      //width: 1000px;
      // display: flex;
      ion-item{
        display: inline-block;
        width: 133px;
        height: 83px;
        width: auto;
        padding: 0;
        box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.17);
        border-radius: 7px;
        background-repeat: no-repeat!important;
        margin-right: 10px;
        .item-inner{
          padding: 0!important;
          border: 0px;

          button{

          }
        }
        .radio-md, .radio-ios{
          margin: auto;
          .radio-icon, .radio-ios .radio-icon{
          width: 133px;
          height: 83px;
            border:0px;

            &::after{
              text-align: center;
              position: absolute;
              bottom: 6px;
              left: 6px;
              color: black;

              // font-family: 'homright' !important;
              // speak: none;
              // font-style: normal;
              // font-weight: normal;
              // font-variant: normal;
              // text-transform: none;
              // line-height: 1;
              // font-size: 30px;
            }
            .radio-inner, .radio-ios .radio-checked .radio-inner{
              width: 100%;
              height: 100%;
              border-radius: 7px;
              top: 0;
              left: 0;
              color: map-get($colors, primary);
              background-color: transparent;
              border-color: transparent;
              opacity: 0.7;
              z-index: 10;
            }
            &.radio-checked{
              &::after{
                // color: white;
              }
            }
          }
        }
        &.nuit{
          background: url("../assets/imgs/moon.png");
          .radio-md .radio-icon::after{
            content: 'Nuit';
            color: #93A1FF;
          }
        }
        &.nuit.item-radio-checked{
          background: url("../assets/imgs/moon-actif.png");
          .radio-md .radio-icon::after{
            content: 'Nuit';
            color: black;
        }
      }
        &.matin{
          background: url("../assets/imgs/sun.png");
          .radio-md .radio-icon::after{
            content: 'Matin';
            color: #93A1FF;
          }
        }
        &.matin.item-radio-checked{
          background: url("../assets/imgs/sun-actif.png");
          .radio-md .radio-icon::after{
            content: 'Matin';
            color: black;
          }
        }

        &.absent{
          background: url("../assets/imgs/sun.png");
          .radio-md .radio-icon::after{
            content: 'Absent';
            color: #93A1FF;
          }
        }
        &.absent.item-radio-checked{
          background: url("../assets/imgs/sun-actif.png");
          .radio-md .radio-icon::after{
            content: 'Absent';
            color: black;          
        }
        }


      }
    }
  }}

    .fond-vague{
    height: 180px;
    .vague{
      top:179px;
    }
  }

    @media only screen and (min-width: 500px) 
  {
    ion-row button.button-event{
      width: 70%;
    }
    .valeurs-conso button{
      right:100px;
    }
  }

}
