page-login {

}

.scroll-content{
  overflow-y: hidden;
}

#custom-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  width:100%;
  background-color: #FFFFFF;
  animation: disparition 0.25s linear 5s forwards;
}

.flb {
  display: block;
  margin: 50px auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bottom{
  position: absolute;
  bottom: 0;
  left: 50%;
  animation: pulse 2s ease-in forwards;
  font-family: "Futura";
  font-weight: 300;
}

.bottom-center{
  position: relative; 
  left: -50%;
  font-size: 16px;
}

@keyframes pulse {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes disparition {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}