page-login {


  #custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width:100%;
    background-color: #FFFFFF;
    animation: disparition 0.25s linear 5s forwards;
  }

  .flb {
    display: block;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .bottom{
    position: absolute;
    bottom: 0;
    left: 50%;
    animation: pulse 2s ease-in forwards;
    font-family: "Futura";
    font-weight: 300;
  }

  .bottom-center{
    position: relative; 
    left: -50%;
    font-size: 16px;
  }

  @keyframes pulse {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @keyframes disparition {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }

  .mascotte{
    width:50%;
    height: 50%;
    margin-bottom: 15px;
  }

  .content-ios .mascotte{
    margin:15px auto;
  }

  .container{
    display: block;
    max-width: 350px;
    margin: 0 auto;
    position:relative !important;
    padding-top : 0px ;
    padding-bottom : 0px ;
  }

  .card{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
  }

  .list-ios, .list-md {
    margin: -1px 0 0px;
  }

  ion-list .item-block .item-inner {
    border-bottom: 1px solid transparent;
  }

  .list-md .item-input.item-input-has-focus:last-child{
    border-bottom-color: black;
    box-shadow: none;
  }

  .bouton-contour{
    height: 35px;
    color: #7686FF;
    border-color: #7686FF;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 12px;
    font-weight: 700;
  }

  .inscription{
    margin-top: 20px;
  }

  .reseaux{
    margin : 0 0 5px 0;
  }

  .line1{
    position: absolute;
    width: 40%;
    height: 0px;
    top: 14px;
    border: 0.5px solid #000000;
    box-sizing: border-box;
  }

  .line2{
    position: absolute;
    width: 42%;
    left:58%;
    height: 0px;
    top: 14px;
    border: 0.5px solid #000000;
    box-sizing: border-box;
  }

  [col-12] {
    padding: 5px;
}

  .container{
    padding: 20px 25px;
  }

  .right{
    color: #F5AF47;
    font-family: "Futura";
    font-weight: 200;   
  }

  .toolbar-md {
    padding: 0px;
    min-height: 100%;
  }

  .toolbar-background-md, .toolbar-background-ios {
    border-color: #FFFFFF;
    background: #FFFFFF;
  }

  .toolbar-ios .segment-button{
    max-width: 100%;
    height: 100%;
    line-height: 4rem;
  }

  .segment-md .segment-button, .segment-ios .segment-button{
    color: #919191;
    font-family: "Futura Cd";
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
    border-color: transparent;
  }

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: transparent;
}

.list-md .item-block .item-inner {
    border-bottom: 1px solid transparent;
}

  .segment-ios .segment-button:first-of-type, .segment-ios .segment-button:last-of-type{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .segment-md .segment-button{
    padding: 0px;
  }

  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated, .segment-ios .segment-button.segment-activated{
    border-bottom: 2px solid transparent;
    color: #7686FF;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  input{
      font-family: 'Futura';
      font-weight: 700;
  }

}