page-forum-choix-theme {

  ion-header{
    background: none;
    .toolbar-background{
      border: 0px!important;
      background: none!important;
    }
    ion-title{
      background: map-get($colors, secondary);
      .toolbar-title{
        color: white!important;
      }
    }
    button .button-inner{
      color: white;
    }
    ion-navbar{
    }
    &::after{
    height: 0px !important;
    }
  }

  .fond-vague{
    // top: -16px;
    z-index: 0;
  }

  ion-content{
    .block-search{
      position: relative;
      max-width: 800px;
      z-index: 10;
      display: flex;
      margin: auto;
      .search-bar{
        background: white;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        height: 40px;
        width: 100%;
        border: 0px;
      }
      img{
        position: absolute;
        right: 10px;
        top: 10px;
      }
      ion-icon{
        color: white;
        padding: 0 8px 0 20px;
        display: flex;
        margin: auto;
        &::before{
          justify-content: center;
        }
      }
    }
    .block-theme{
      position: relative;
      margin-top: 30px;
      text-align: center;
      max-width: 1100px;
      h2{
        display: inline-block;
        background: map-get($colors, primary);
        color: white;
        text-transform: uppercase;
        font-size: 16px;
        padding: 4px 8px;
      }
      button{
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        margin: auto 4px 12px 4px;
        width: 100%;
        display: flex;
        padding: 7px;
        .theme-titre{
          border-right: 1.5px solid map-get($colors, medium);
          padding-bottom: 10px;

          display: flex;
          justify-content: center;
          flex-direction: column;
          margin: auto;
          padding: 10px 5px;
          h4{
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 5px;
            text-align: left;
          }
          span{
            color: map-get($colors, dark-blue);
          }
        }
        .dernierMessage{
          padding-top: 6px;
          padding-left: 10px;

          display: flex;
          justify-content: center;
          flex-direction: column;
          margin: auto;
        }
        p{
          color: map-get($colors, medium);
          text-align: left;
          margin: 5px 0;
          font-size: 12.5px;
        }
        .avatar-message{
          display: flex;
          margin-right: 5px;
          .avatar-mini{
            background: map-get($colors, medium);
            border-radius: 50%;
            width: 33px;
            height: 33px;
            display: inline-block;
            margin-right: -7px;
            border: 2px solid white;
            display: inline-flex;
            &:last-child{
              background: map-get($colors, dark-blue);
            }
            span{
              color: white;
              font-size: 11px;
              justify-content: center;
              margin: auto;
            }
          }
        }
      }
    }
  }

  .button-create-theme {
    position: fixed;
    z-index: 1000;
    right: -8px;
    margin: auto;
    bottom: -10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: map-get($colors, secondary);
    color: white;
    -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);

    .icon-plus{
      margin-top: -10px;
      margin-left: 14px;
      float: left;
      &::before{
        font-size: 13px;
      }
    }
    .icon-pencil{
      display: inline;
      margin-left: -18px;
      &::before{
        font-size: 22px;
      }
    }
  }

  .fond-cache, .fond-cache2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    display: none;
    z-index: 100;

    .lightbox{
      margin: auto;
    }
    .lightbox-content{
      background: white;
      width: 100%;
      padding: 15px;
      min-width: 250px;
      max-width: 340px;
      border: 1px solid #DFE4EF;
      box-sizing: border-box;
      border-radius: 4px;
      h2, div{
        text-align: center;
      }
      ion-list{
        p{
          color: map-get($colors, primary);
          text-align: left!important;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 700;
        }
        &.list-md .item-block .item-inner {
          border-bottom: 1px solid black;
        }
      }
      .input-wrapper{
        display: block;
        ion-label{
          color: map-get($colors, primary);
          text-align: left!important;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 700;
          margin-bottom: 5px;
        }
        ion-input{
          color: black;
          input.text-input-md{
            width: 100%;
          }
          input::placeholder{
            color: black;
            opacity: 1;
          }
        }
      }
      ion-list.titreTheme{
        .item-inner{
          border-bottom: 1px solid black;
        }
        .label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input{
          margin-left: 0px;
        }
      }

      .checkbox-md .checkbox-checked .checkbox-inner{
        border: none;
      }


      button{
        min-width: 120px;
        width: auto;
        height: 40px;
        display: inline-block;
        margin: 20px 8px;
        box-shadow: none;
        border-radius: 28px;
        .icon::before{
          font-size: 18px!important;
        }
        &.not-selected{
          border: 1.5px solid map-get($colors, primary);
          background: none;
          color: map-get($colors, primary);
        }
      }
      .return{
        height: 40px;
        line-height: 40px;
        .arrow-return{
        cursor: pointer;
        display: block;
        float: left;
        margin-top: 10px;
        color: map-get($colors, secondary);
        &::before{
            font-size: 20px;
          }
        }
        p{
          display: inline;
          padding-right: 8px;
          text-transform: uppercase;
          margin: 0;
          font-weight: 700;
          font-size: 16px;
        }
        ion-icon[name='icon-trash-1']{
          background: map-get($colors, primary);
          padding: 10px;
          border-radius: 50px;
          color: white;
          float: right;
          &::before{
            font-size: 18px;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 950px) {
    ion-content{
      .block-theme{
        margin: 60px auto auto auto;
        button{

        }
      }
    }
  }
}
