page-forum-choix-theme {

  ion-header{
    background: none;
    .toolbar-background{
      border: 0px!important;
      background: none!important;
    }
    ion-title{
      background: map-get($colors, secondary);
      .toolbar-title{
        color: white!important;
      }
    }
    button .button-inner{
      color: white;
    }
    ion-navbar{
    }
    &::after{
    height: 0px !important;
    }
  }

  .fond-vague{
    // top: -16px;
    z-index: 0;
  }

  ion-content{
    .block-search{
      position: relative;
      max-width: 800px;
      z-index: 10;
      display: flex;
      margin: auto;
      .search-bar{
        background: white;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        height: 40px;
        width: 100%;
      }
      ion-icon{
        color: white;
        padding: 0 8px 0 20px;
        display: flex;
        margin: auto;
        &::before{
          justify-content: center;
        }
      }
    }
    .block-theme{
      position: relative;
      margin-top: 30px;
      text-align: center;
      max-width: 1100px;
      button{
        // padding: 10px 15px;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        margin: auto 4px 12px 4px;
        width: 100%;
        display: flex;
        .theme-titre{
          border-right: 1.5px solid map-get($colors, medium);
          padding-bottom: 10px;

          display: flex;
          justify-content: center;
          flex-direction: column-reverse;
          margin: auto;
          padding: 18px 5px;
          h4{
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 5px;
            text-align: left;
          }
          span{
            color: map-get($colors, dark-blue);
          }
        }
        .dernierMessage{
          padding-top: 6px;
          padding-left: 10px;
          display: inline-block;
        }
        p{
          color: map-get($colors, medium);
          text-align: left;
          margin: 5px 0;
          font-size: 12.5px;
        }
        .avatar-message{
          display: flex;
          margin-right: 5px;
          .avatar-mini{
            background: map-get($colors, medium);
            border-radius: 50%;
            width: 33px;
            height: 33px;
            display: inline-block;
            margin-right: -7px;
            border: 2px solid white;
            // float: right;
            display: inline-flex;
            &:last-child{
              background: map-get($colors, dark-blue);
            }
            span{
              color: white;
              font-size: 11px;
              justify-content: center;
              margin: auto;
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 950px) {
    ion-content{
      .block-theme{
        margin: 60px auto auto auto;
        button{

        }
      }
    }
  }
}
