<ion-header>

  <ion-navbar>
    <ion-title>Je Partage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="fond-vague"><img class="vague" src="../assets/imgs/vague_fine.png"/></div>
  <div class="block-search"><input class="search-bar"/><img class="" src="../assets/imgs/search-icon.svg"/><!--<ion-icon name="icon-equalizer"></ion-icon>--></div>
  <div class="block-theme container" col-12>
    <h2>{{typePiece}}</h2>
    <div class="pasDePost" *ngIf="typePiece != 'cuisine'"> Besoin d'astuces ? De conseils ? Envie de donner un avis ? Soyez le premier à poster dans l'espace "{{typePiece}}" !</div>
    <button class="theme"  (click)="pushDiscussion()" *ngIf="typePiece == 'cuisine'">
      <div class="theme-titre"  col-7 col-sm-8 col-md-9>
        <h4>Les chauffe-eaux solaires : est-ce vraiment bien ?</h4>
        <p>par Sophie le 25/04/2018 - 18:00</p>
      </div>
      <div class="dernierMessage" col-5 col-sm-4 col-md-3>
        <div class="avatar-message"><div class="avatar-mini"></div><div class="avatar-mini"></div><div class="avatar-mini"><span>+1</span></div></div>
        <p>Dernier message</p>
        <p>10/05/2018 à 20:15</p>
      </div>
    </button>
  </div>

  <button class="boutton-menuP" (click)="pushMenu()"><img  alt="menu principal" src="../assets/button/menu.png"/></button>
  <button class="button-create-theme" (click)="nouveauTheme()"><ion-icon class="icon-plus"></ion-icon><ion-icon class="icon-pencil"></ion-icon></button>

  <ion-row class="fond-cache">
      <div class="lightbox">
        <div col-12 class="lightbox-content">
          <div  class="return">
            <ion-icon (click)="returnChoose()" name="icon-left-arrow-2" class="arrow-return" ></ion-icon>
            <p> Nouveau thème </p>
            <ion-icon (click)="returnChoose()" name="icon-trash-1"></ion-icon>
          </div>
          <ion-list class="titreTheme">
            <ion-row col-12>
              <ion-item>
                <ion-label color="primary" floating>Titre du sujet</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary" floating>Message</ion-label>
                <ion-textarea></ion-textarea>
              </ion-item>
            </ion-row>
          </ion-list>
          <div>
            <button ion-button block class="" type="submit" (click)="validerChoix()">Poster</button>
          </div>
        </div>
      </div>
  </ion-row>
</ion-content>
