@font-face {
  font-family: 'homright';
  src:  url('../assets/fonts/homright.eot?qwx93i');
  src:  url('../assets/fonts/homright.eot?qwx93i#iefix') format('embedded-opentype'),
    url('../assets/fonts/homright.ttf?qwx93i') format('truetype'),
    url('../assets/fonts/homright.woff?qwx93i') format('woff'),
    url('../assets/fonts/homright.svg?qwx93i#homright') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'homright' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@mixin makeIcon($arg, $val) {
  .icon-#{$arg}:before ,
  .ion-ios-icon-#{$arg}:before ,
  .ion-ios-icon-#{$arg}-outline:before ,
  .ion-md-icon-#{$arg}:before ,
  .ion-md-icon-#{$arg}-outline:before  {
    content: $val;
    font-size: 26px;
  }
}


@include makeIcon(bain, '\e922');
@include makeIcon(bureau, '\e924');
@include makeIcon(canape, '\e9da');
@include makeIcon(cuisine, '\e9db');
@include makeIcon(douche, '\e9dc');
@include makeIcon(garage, '\e9dd');
@include makeIcon(lave_linge, '\e9de');
@include makeIcon(lit, '\e9df');
@include makeIcon(placard, '\e9e0');
@include makeIcon(porte, '\e9e1');
@include makeIcon(table, '\e9e2');
@include makeIcon(vase, '\e9e3');
@include makeIcon(air-conditioning-indoor, '\e900');
@include makeIcon(air-conditioning-outdoor, '\e901');
@include makeIcon(alarm, '\e902');
@include makeIcon(bulb, '\e903');
@include makeIcon(cold, '\e904');
@include makeIcon(dome-camera, '\e905');
@include makeIcon(door-handle, '\e906');
@include makeIcon(doorbell, '\e907');
@include makeIcon(drop, '\e908');
@include makeIcon(electric-range, '\e909');
@include makeIcon(eye, '\e90a');
@include makeIcon(garage2, '\e90b');
@include makeIcon(heater, '\e90c');
@include makeIcon(houseplant, '\e90d');
@include makeIcon(ip-camera, '\e90e');
@include makeIcon(key2, '\e90f');
@include makeIcon(lock-a, '\e910');
@include makeIcon(lock-b, '\e911');
@include makeIcon(loudspeakers, '\e912');
@include makeIcon(pet, '\e913');
@include makeIcon(plug, '\e914');
@include makeIcon(pool, '\e915');
@include makeIcon(power-button, '\e916');
@include makeIcon(power, '\e917');
@include makeIcon(recycling, '\e918');
@include makeIcon(remote-control, '\e919');
@include makeIcon(router, '\e91a');
@include makeIcon(smartphone, '\e91b');
@include makeIcon(socket-f, '\e91c');
@include makeIcon(socket-g, '\e91d');
@include makeIcon(socket-i, '\e91e');
@include makeIcon(solar-panel, '\e91f');
@include makeIcon(sun, '\e920');
@include makeIcon(temperature, '\e921');
@include makeIcon(tv, '\e923');
@include makeIcon(ventilation, '\e925');
@include makeIcon(washer, '\e926');
@include makeIcon(weather, '\e927');
@include makeIcon(bed, '\e98e');
@include makeIcon(kitchen, '\e98f');
@include makeIcon(bath, '\e990');
@include makeIcon(shower, '\e991');
@include makeIcon(couch, '\e992');
@include makeIcon(washing-machine, '\e993');
@include makeIcon(door, '\e994');
@include makeIcon(garage22, '\e995');
@include makeIcon(desk, '\e996');
@include makeIcon(dinner-table, '\e997');
@include makeIcon(monitor, '\e928');
@include makeIcon(smile-1, '\e929');
@include makeIcon(diamond, '\e92a');
@include makeIcon(bar-chart, '\e92b');
@include makeIcon(wifi, '\e92c');
@include makeIcon(key, '\e92d');
@include makeIcon(equalizer, '\e92e');
@include makeIcon(credit-card, '\e92f');
@include makeIcon(share, '\e930');
@include makeIcon(loading, '\e931');
@include makeIcon(instagram, '\e932');
@include makeIcon(link, '\e933');
@include makeIcon(broken-link, '\e934');
@include makeIcon(smile, '\e935');
@include makeIcon(crop, '\e936');
@include makeIcon(sad, '\e937');
@include makeIcon(cursor, '\e938');
@include makeIcon(remove-user, '\e939');
@include makeIcon(add-user, '\e93a');
@include makeIcon(pause, '\e93b');
@include makeIcon(stop, '\e93c');
@include makeIcon(play, '\e93d');
@include makeIcon(move, '\e93e');
@include makeIcon(video, '\e93f');
@include makeIcon(rewind, '\e940');
@include makeIcon(cloud-computing-1, '\e941');
@include makeIcon(cloud-computing, '\e942');
@include makeIcon(user-1, '\e943');
@include makeIcon(star, '\e944');
@include makeIcon(facebook, '\e945');
@include makeIcon(cloud, '\e946');
@include makeIcon(briefcase, '\e947');
@include makeIcon(fast-forward, '\e948');
@include makeIcon(cancel, '\e949');
@include makeIcon(shield, '\e94a');
@include makeIcon(calculator, '\e94b');
@include makeIcon(photo-camera, '\e94c');
@include makeIcon(cut-1, '\e94d');
@include makeIcon(shuffle, '\e94e');
@include makeIcon(compass, '\e94f');
@include makeIcon(folder, '\e950');
@include makeIcon(minus, '\e951');
@include makeIcon(plus, '\e952');
@include makeIcon(file, '\e953');
@include makeIcon(align-right, '\e954');
@include makeIcon(expand, '\e955');
@include makeIcon(earth-grid, '\e956');
@include makeIcon(justify, '\e957');
@include makeIcon(copy, '\e958');
@include makeIcon(tag, '\e959');
@include makeIcon(minimize, '\e95a');
@include makeIcon(switch-1, '\e95b');
@include makeIcon(heart, '\e95c');
@include makeIcon(clip, '\e95d');
@include makeIcon(cube, '\e998');
@include makeIcon(information, '\e999');
@include makeIcon(eye2, '\e99a');
@include makeIcon(hide, '\e99b');
@include makeIcon(log-out, '\e99c');
@include makeIcon(align-left, '\e99d');
@include makeIcon(puzzle, '\e99e');
@include makeIcon(switch, '\e99f');
@include makeIcon(picture, '\e9a0');
@include makeIcon(pin-1, '\e9a1');
@include makeIcon(right-arrow-1, '\e95e');
@include makeIcon(refresh, '\e95f');
@include makeIcon(filter, '\e960');
@include makeIcon(pencil, '\e961');
@include makeIcon(log-in, '\e962');
@include makeIcon(reply-all, '\e963');
@include makeIcon(reply, '\e964');
@include makeIcon(silence, '\e965');
@include makeIcon(settings, '\e9a2');
@include makeIcon(email-2, '\e9a3');
@include makeIcon(left-arrow-2, '\e9a4');
@include makeIcon(email-1, '\e9a5');
@include makeIcon(menu-1, '\e9a6');
@include makeIcon(left-arrow-1, '\e9a7');
@include makeIcon(right-arrow, '\e9a8');
@include makeIcon(down-arrow-2, '\e9a9');
@include makeIcon(up-arrow-2, '\e9aa');
@include makeIcon(alarm-1, '\e9ab');
@include makeIcon(chevron, '\e966');
@include makeIcon(firefox, '\e967');
@include makeIcon(disabled, '\e968');
@include makeIcon(qr-code, '\e969');
@include makeIcon(cut, '\e96a');
@include makeIcon(tools, '\e96b');
@include makeIcon(piggy-bank, '\e96c');
@include makeIcon(binoculars, '\e96d');
@include makeIcon(shopping-cart, '\e9ac');
@include makeIcon(money, '\e9ad');
@include makeIcon(down-arrow-1, '\e9ae');
@include makeIcon(thermometer, '\e9af');
@include makeIcon(umbrella, '\e9b0');
@include makeIcon(dashboard, '\e9b1');
@include makeIcon(pin, '\e9b2');
@include makeIcon(megaphone, '\e9b3');
@include makeIcon(youtube, '\e9b4');
@include makeIcon(wind, '\e9b5');
@include makeIcon(safari, '\e96e');
@include makeIcon(chrome, '\e96f');
@include makeIcon(headphones, '\e970');
@include makeIcon(down-arrow, '\e971');
@include makeIcon(twitter, '\e972');
@include makeIcon(target, '\e973');
@include makeIcon(leaf, '\e974');
@include makeIcon(highlighter, '\e975');
@include makeIcon(smartphone2, '\e9b6');
@include makeIcon(screenshot, '\e9b7');
@include makeIcon(power-button2, '\e9b8');
@include makeIcon(question, '\e9b9');
@include makeIcon(push-pin, '\e9ba');
@include makeIcon(flag, '\e9bb');
@include makeIcon(left-arrow, '\e9bc');
@include makeIcon(moon, '\e9bd');
@include makeIcon(video-camera, '\e9be');
@include makeIcon(music, '\e9bf');
@include makeIcon(printer, '\e976');
@include makeIcon(diskette, '\e977');
@include makeIcon(paste, '\e978');
@include makeIcon(mute-1, '\e979');
@include makeIcon(paint-bucket, '\e97a');
@include makeIcon(clicker, '\e97b');
@include makeIcon(dislike, '\e97c');
@include makeIcon(up-arrow-1, '\e97d');
@include makeIcon(like, '\e9c0');
@include makeIcon(straight, '\e9c1');
@include makeIcon(joke, '\e9c2');
@include makeIcon(surprise, '\e9c3');
@include makeIcon(scale, '\e9c4');
@include makeIcon(trash-1, '\e9c5');
@include makeIcon(trash, '\e9c6');
@include makeIcon(phone-call-2, '\e9c7');
@include makeIcon(phone-call-1, '\e9c8');
@include makeIcon(phone-call, '\e9c9');
@include makeIcon(eraser, '\e97e');
@include makeIcon(thunderbolt, '\e97f');
@include makeIcon(snowflake, '\e980');
@include makeIcon(sun2, '\e981');
@include makeIcon(home, '\e982');
@include makeIcon(microphone, '\e983');
@include makeIcon(idea, '\e984');
@include makeIcon(layout, '\e985');
@include makeIcon(upload, '\e9ca');
@include makeIcon(download, '\e9cb');
@include makeIcon(medal, '\e9cc');
@include makeIcon(open-lock, '\e9cd');
@include makeIcon(diagram, '\e9ce');
@include makeIcon(pie-chart, '\e9cf');
@include makeIcon(check, '\e9d0');
@include makeIcon(followers, '\e9d1');
@include makeIcon(user, '\e9d2');
@include makeIcon(bookmark, '\e9d3');
@include makeIcon(usb, '\e986');
@include makeIcon(mute, '\e987');
@include makeIcon(volume, '\e988');
@include makeIcon(bluetooth, '\e989');
@include makeIcon(email, '\e98a');
@include makeIcon(chat, '\e98b');
@include makeIcon(alarm2, '\e98c');
@include makeIcon(edit, '\e98d');
@include makeIcon(calendar, '\e9d4');
@include makeIcon(up-arrow, '\e9d5');
@include makeIcon(menu, '\e9d6');
@include makeIcon(hourglass, '\e9d7');
@include makeIcon(wall-clock, '\e9d8');
@include makeIcon(padlock, '\e9d9');
