// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #F5AF47,
  secondary:  #7686FF,
  danger:     #f53d3d,
  light:      #ffffff,
  medium:     #828282,
  dark-blue:  #6496CE,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

//@import "ionic.ionicons";
@import "ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@font-face{
	font-family: 'Futura';
	font-style: normal;
	font-weight: 200;
	src : url('../assets/fonts/futura/FuturaLight.ttf')
}

@font-face{
	font-family: 'Futura';
	font-style: normal;
	font-weight: 300;
	src : url('../assets/fonts/futura/FuturaMedium.ttf')
}

@font-face{
	font-family: 'Futura';
	font-style: normal;
	font-weight: 600;
	src : url('../assets/fonts/futura/FuturaBold.ttf')
}

@font-face{
	font-family: 'Futura';
	font-style: normal;
	font-weight: 700;
	src : url('../assets/fonts/futura/FuturaHeavy.ttf')
}

@font-face{
	font-family: 'Futura';
	font-style: normal;
	font-weight: 800;
	src : url('../assets/fonts/futura/FuturaExtraBlack.ttf')
}

@font-face{
	font-family: 'Futura Cd';
	font-style: normal;
	font-weight: 200;
	src : url('../assets/fonts/futura/FuturaLightCd.ttf')
}

@font-face{
	font-family: 'Futura Cd';
	font-style: normal;
	font-weight: 300;
	src : url('../assets/fonts/futura/FuturaMediumCd.ttf')
}

@font-face{
	font-family: 'Futura Cd';
	font-style: normal;
	font-weight: 700;
	src : url('../assets/fonts/futura/FuturaBoldCd.ttf')
}

@font-face{
	font-family: 'Assistant';
	font-style: normal;
	font-weight: 800;
	src : url('../assets/fonts/assistant/Assistant-ExtraBold.ttf')
}

@font-face{
	font-family: 'Assistant';
	font-style: normal;
	font-weight: 700;
	src : url('../assets/fonts/assistant/Assistant-Bold.ttf')
}

@font-face{
	font-family: 'Assistant';
	font-style: normal;
	font-weight: 300;
	src : url('../assets/fonts/assistant/Assistant-Regular.ttf')
}


$font-family-base:"Futura";
body{
	font-family: "Futura" !important;
	font-weight: 300 !important;
}
