<ion-header>
  <ion-navbar>
    <ion-title>Je déménage</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<div class="fond-vague"><img class="vague" src="../assets/imgs/vague_fine.png"/></div>
	<div class="centrage-vertical">
    	<div class="centrage-vertical-inner">
	  		<ion-row class="mascotte">
	      		<img alt="Homie déménage" src="../assets/imgs/homie_demenagement.png"/>
	      	</ion-row>
	      	<ion-row class="auRevoir">
		  		<ion-col col-12>
		      		<h1>Au revoir</h1>
		      	</ion-col>      		
		      	<ion-col col-12>
		      		<p *ngFor="let nameHouse of namesHouse">
		      			{{nameHouse.immeuble}} {{nameHouse.bp}}
		      		</p>
		      	</ion-col>
		      	<ion-col col-12>
		      		<p *ngFor="let nameHouse of namesHouse">
		      			{{nameHouse.voie}} {{nameHouse.cp}} {{nameHouse.ville}}
		      		</p>
		      	</ion-col>
		    </ion-row>
		    <ion-row>
		        <button ion-button block class="bouton-principal valider" type="submit" (click)="changementMaison()">Valider</button>
		    </ion-row>
    	</div>
  	</div>
  	<button class="boutton-menuP" (click)="pushAccueil()"><ion-icon name="icon-cancel"></ion-icon></button>
</ion-content>
