page-signup {
	ion-content{
    display: block;
    max-width: 500px;
    margin: 0 auto;
    position:relative !important;
    padding-top : 0px ;
    padding-bottom : 0px ;
  }

  .mascotte{
  	margin: 20px auto;
  }

  .bouton-principal{
	font-family: "Futura";
	font-weight: 300;
	border-radius: 30px;
	width: 260px;
	height: 65px;
	margin: 0 auto;
	margin-top: 20px;
	}

  .bouton-contour, .bouton-contour:visited, .bouton-contour:active, .bouton-contour:hover, .bouton-contour:link, .button-ios.activated{
	font-family: "Futura";
	font-weight: 300;
	border-radius: 30px;
	width: 260px;
	height: 65px;
	margin: 0 auto;
	margin-top: 20px;
	}
}
