page-signup {
	.container{
    display: block;
    max-width: 900px;
    margin: 0 auto;
    position:relative !important;
    padding-top : 0px ;
    padding-bottom : 0px ;
  }

  .lottie{
    margin: auto;
    width: 100%;
    height: 100%;
  }

  .mascotte{
  	margin: 110px auto 30px auto;
    max-width: 500px;
    height: 85%;
    width: 85%;
    display: none;
  }

  .bouton-principal{
	font-family: "Futura";
	font-weight: 700;
	border-radius: 30px;
	width: 260px;
	height: 45px;
	margin: 0 auto;
	margin-top: 20px;
	}

  .bouton-contour, .bouton-contour:visited, .bouton-contour:active, .bouton-contour:hover, .bouton-contour:link, .button-ios.activated{
	font-family: "Futura";
	font-weight: 700;
	border-radius: 30px;
	width: 260px;
	height: 45px;
	margin: 0 auto;
	margin-top: 20px;
	}

	.fond-vague{
    	height: 180px;
    	.vague{
    		top:179px;
    	}
  	}

  @media(max-width: 885px){
    lottie-animation-view{
          display: none;
    }
    .mascotte{
      display: block;
    }

  }

}
